[2015-01-09 17:12] genhack commented on #1
@TheLordin I'm trying now on ios 8:02

[2015-01-09 17:14] antoris2011 commented on #1
got it.. now what next??

[2015-01-09 17:16] Bitmerlin commented on #1
Now what message do you see in the popup "Success" or "Failed"? You might need to pinch to zoom on the page

[2015-01-09 17:17] antoris2011 commented on #1
failed, i got what you mean..
i'll detail it next, now i finishing my project first..

[2015-01-09 17:20] Bitmerlin commented on #1
GREAT :))) that means that it is correctly pulling the html from wispr.php and onto the iphone and rendering it.

Next step is find an exploit my friend, test image rendering, javascript support, supported browser features and so on.

Just edit wispr.php to contain code you want to run and repeat the test. First things should be javascript and image rendering

[2015-01-09 17:21] antoris2011 commented on #1
yesss.. the best think if we can run java applet or something, can it gain the root??

[2015-01-09 17:22] Bitmerlin commented on #1
Well that was the original idea man, get java or image rendering and cause buffer overflow

[2015-01-09 17:24] antoris2011 commented on #1
was?? oh sorry am not read carefully from the top of this.. kwkw.. sorry man..
to buffer overflow we need a javascript of course, due to webkit weakness..

[2015-01-09 17:25] Ryahuman commented on #1
@Bitmerlin yeah man!, but this BUG only to ios 7.x or 8.x work too?

[2015-01-09 17:25] Bitmerlin commented on #1
@antoris2011 My iphone seems to be running a cached copy of the success message though so I cannot get any other code to display, can you test java bro, here are some examples:

http://userwww.sfsu.edu/infoarts/technical/howto/wilson.javascript.exampls.html

[2015-01-09 17:30] Bitmerlin commented on #1
@TheLordin This specific Captive Network method is not exclusive to IOS7 it is just the initial wispr probe is different with each IOS version, so it means different host file entries only to get the html popup to display.

I am not on IOS8 so cannot test. try yourself in fiddler look where it is trying to probe for success response and add it to host file

If you meant the PDF image rendering exp

[2015-01-09 17:31] antoris2011 commented on #1
ios 8.1.2 tested.. javascript bug.. its not buggy.. its will happen in every ios i think.. small device, limited resources..
consider in heap overflow using javascript bro..
that was easy.. count it round a round in several time..
ios wil be buggy to read this..

[2015-01-09 17:32] Bitmerlin commented on #1
@antoris2011 it is working in IOS8 using same host file?

Also you tested if javascript is working?

It took me fucking hours bro not so easy lol, only end steps is easy.

[2015-01-09 17:33] antoris2011 commented on #1
thats webkit using in ios bro.. hehehehe..

[2015-01-09 17:37] Bitmerlin commented on #1
@antoris2011 yes well I cannot refresh without using java and no way to get it to refresh to load new html containing java :(

Have you tested java?

[2015-01-09 17:38] antoris2011 commented on #1
not yet bro.. bro to refresh.. just restart your device.. or forgot the wifi.. all will be clear up..

[2015-01-09 17:41] antoris2011 commented on #1
nothing special with IOS.. the best think is apple do this OS.. damn.. saluut..
i've porting this IOS from jailbroken 4s 8.1.2 to xCode, not found something great yet.. just a little peace..

**for indonesian: hehehe biar orang apple besar kepala.. ntar kalo kepalanya besar lama lama bledhos

[2015-01-09 17:42] Bitmerlin commented on #1
@antoris2011 gonna try that thanks

[2015-01-09 17:46] genhack commented on #1
We need a strong code that causes the closing of Setup.app, safari ios 8 does not give up, I run different codes but nothing to do! Who can think of something to come forward, I can test it quietly on ios 8.0.2
bitmarlin send me a message on gagliarulo()gmail.com I would like to make your life easier

[2015-01-09 17:52] Bitmerlin commented on #1
@antoris2011 "not yet bro.. bro to refresh.. just restart your device.. or forgot the wifi.. all will be clear up.."

Didn't work man still showing cached message

[2015-01-09 17:55] Bitmerlin commented on #1
@genhack Yes I agree my friend, killing Setup.app is the key here. I will send you a mail shortly.

[2015-01-09 17:56] ccpdx commented on #1
@genhack Try a Data URI

[2015-01-09 17:56] antoris2011 commented on #1
@Bitmerlin what cached right now??

[2015-01-09 18:03] Bitmerlin commented on #1
@antoris2011 cached is this, probably from my previous failed attempts:

{HTML}{HEAD}{TITLE}Success{/TITLE}{/HEAD}{BODY}Success/BODY}{/HTML}

[2015-01-09 18:03] antoris2011 commented on #1
implement mod_expire on apache..
or add this to < head >< /head > section :
< META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" >
< META HTTP-EQUIV="CONTENT-LANGUAGE"  CONTENT="en-US" >
< META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT" >

[2015-01-09 18:07] djzveruga commented on #1
Hey, you can use this (WIFIday) too
https://mega.co.nz/#!cJRUmS4I!edCQBgz4T3ZoCiqX8QVhVuTxE2c_bo3s8cBuzAw2HDI

[2015-01-09 18:07] djzveruga commented on #1
And, oh, no, it's bad idea :D

[2015-01-09 18:08] Bitmerlin commented on #1
@genhack sent you a mail

For anybody else who needs it bitmerlin()gmail.com

Please don't spam me. Donations are welcome :)

^ Only joking people I'm not in it for the profit, only thing I need is a new activation blocked iphone as the one I have now is a friends and he keeps asking for it back lol

[2015-01-09 18:13] jserrano56 commented on #1
just signed up but i've been following this for days now, i speak Spanish too so can someone provide the whatsapp details for that group?  my question is what is "lost and erased" mode what makes this different from a regular icloud lock? is the safari exploit achievable on a windows pc or is it only mac osx?

random side note: can i bypass icloud on my ipad 2 without openning up the device(Hardwa

[2015-01-09 18:15] Bitmerlin commented on #1
@antoris2011 thanks will test it now

[2015-01-09 18:16] john403 commented on #1
minyak dulu

[2015-01-09 18:18] antoris2011 commented on #1
@john403 minyak lintah?? hue hue hue.. sabar dab.. lost n erase sudah dikit lagi solved.. lagi sitirohat..

[2015-01-09 18:20] john403 commented on #1
jiahh.... om dab pengguna pembesar pensil ternyata :v
btw, yg lock icloud link email nunggu  wangsit dari ringin kembar
siapa tahu ntr ada yg jatoh

[2015-01-09 18:21] Bitmerlin commented on #1
@ALL Please don't do what TTMTT is doing and any findings please share for all as you can see I am doing.

Only way to bypass is to do it together. Open source is key.

[2015-01-09 18:25] Bitmerlin commented on #1
@antoris2011 no luck man I implemented the meta lines in my head section, correctly formatted of course. The problem is the success page is already cached on my device so it won't even render the new html code in order for the suggestion you gave to work.

Full restore would work maybe?

[2015-01-09 18:25] dhondooo commented on #1
@all  how to do this step???
Set the DWORD to the local port where Fiddler will re-route inbound traffic (usually port 80 for a standard HTTP server).

[2015-01-09 18:26] genhack commented on #1
@Bitmerlin  Stop try with xampp try wifi2014

[2015-01-09 18:27] Bitmerlin commented on #1
@genhack you have tested it?

You have a link maybe?

[2015-01-09 18:27] antoris2011 commented on #1
@john403 ha ha ha.. oke dab.. panyu leygi dab, pinyi lagi ditathe.. sabaarr..

@Bitmerlin hmm.. are you sure.. you really fire up the local captive page, check the traffic with wireshark..

[2015-01-09 18:28] kvazarNS commented on #1
bitmerlin thanks for all your effort and help! I readin what you wrote and try but i cant get along enough. I cant to managed fiddler to work properly. I must to edit Hosts file or something else? I edit regedit and set Fiddler like you said,set wispr.php and htaccess. I have 8.0 IOS iphone 5

[2015-01-09 18:29] Bitmerlin commented on #1
@kvazarNS you're welcome my friend, I wish I could help you but I am on IOS 7.1.2 so I can't

[2015-01-09 18:30] HERO4903 commented on #1
KvazarNS

con esto editas tu host

127.0.0.1 captive.apple.com
127.0.0.1 www.appleiphonecell.com
127.0.0.1 www.itools.info
127.0.0.1 www.ibook.info
127.0.0.1 www.airport.us
127.0.0.1 www.thinkdifferent.us

es bueno intentarlo con varias versiones haber a donde nos lleva

[2015-01-09 18:31] antoris2011 commented on #1
@Bitmerlin @HERO4903 forgot something.. change ip not to 127.0.0.1 if you wanna use captive portal, change it to host ip

[2015-01-09 18:33] HERO4903 commented on #1
antoris2011 ok gracias por la observacion se me hace interesante espero poder intentarlo sin falta mañana

[2015-01-09 18:33] genhack commented on #1
@all With wifi2014 you can open web pages once connected, now I have a little note should find a site that automatically face crashiare safari, javascript hard something serious! if you can test it immediately .. aime are not much of a girlfriend in java but a crash of ram might be in our case!

[2015-01-09 18:33] Bitmerlin commented on #1
@antoris2011 I am sure my friend look

<img src="http://s14.postimg.org/pa78njmoh/wispr.png" alt="wispr">

[2015-01-09 18:34] kvazarNS commented on #1
@HERO4903 Ok , i put that in hosts but what can i do for 127.0.0.1:8888 ? Localhost edit to 8888? I think that i made mistake somehow. When i click on http://127.0.0.1:8888.i got
[Fiddler] The connection to 'localhost' failed.
Error: ConnectionRefused (0x274d).
System.Net.Sockets.SocketException No connection could be made because the target machine actively refused it 127.0.0.1:128

[2015-01-09 18:35] Bitmerlin commented on #1
@kvazarNS you need to start the xampp server

[2015-01-09 18:35] kvazarNS commented on #1
i start xampp

[2015-01-09 18:35] HERO4903 commented on #1
KvazarNS recuerda que es proxy inverso

[2015-01-09 18:36] antoris2011 commented on #1
@Bitmerlin ok bro.. change host not to 127.0.0.1 for that stuff, change to your host ip..

[2015-01-09 18:36] kvazarNS commented on #1
xampp Apache port 80 and 443

[2015-01-09 18:36] Bitmerlin commented on #1
@antoris2011 ok thanks but changing ip to host ip does what differently exactly?

I am testing it now anyway thank you.

[2015-01-09 18:43] antoris2011 commented on #1
@kvazarNS what are you doing test http://127.0.0.1:8888 ?? fiddler is not http server dude..

@Bitmerlin you are using wifi as your router right?? and then you set proxy to fiddler IP:port right? but look at the connection property at your device wifi.. where it go to DNS and or gateway?? sure it will be your host PC IP right?? so that why your device never touch your 127.0.0.1, bcause this is loc

[2015-01-09 18:48] Bitmerlin commented on #1
@antoris2011 Yeah I am using I kind of obscure method like this:

Linux host with Windows qemu guest.
Port forwarding from host to guest.
Connecting to host forwarded port to guest fiddler port.

I guess there is something else going on with my setup, I will have to try native Windows and see if it does anything differently.

Thanks for the tips man, I don't have any more time today to test it, bu

[2015-01-09 18:51] Bitmerlin commented on #1
@antoris2011 I undertstand what you mean bro I think, I am gonna  set the host in hosts file to dns server on iphone and quickly just test it one last time.

[2015-01-09 18:52] antoris2011 commented on #1
@genhack anything.. software just for help, in mac os x, i use only internet sharing, and catch up this connection through charles, using pf/ipfw features, and i didnt need to fill manual http proxy on idevice, just use a transparent proxy method, in linux you can use iptables..

[2015-01-09 18:54] antoris2011 commented on #1
@Bitmerlin wallaa.. thats great if you do that.. linux/mac os x can do more easy than windows..
i'll send you email, how to configure this.. with transparent proxy method, no need to add this manually

[2015-01-09 18:56] Bitmerlin commented on #1
@antoris2011 Please do man this shit is not working

[2015-01-09 18:56] kvazarNS commented on #1
how to set up wifi in iphone?

[2015-01-09 18:58] Bitmerlin commented on #1
@kvazarNS roughly following this gude:
http://www.amsys.co.uk/2012/blog/how-to-setup-proxy-servers-in-ios/#.VLAkt9_0_VM

[2015-01-09 18:58] kvazarNS commented on #1
with 127.0.0.1 and port or my local IP?

[2015-01-09 18:59] Bitmerlin commented on #1
local IP of computer on same network running fiddler
port is port you set in fiddler reverse proxy settings

[2015-01-09 19:00] antoris2011 commented on #1
skype me antoris2011 if you like to..

[2015-01-09 19:01] Bitmerlin commented on #1
@antoris2011 if you have even a link from google to set up transparent proxy that would be great dude.

For now I am out, good luck to all

[2015-01-09 19:04] kvazarNS commented on #1
OK,i see conection on fiddler screen but i havent nothing on iphone. The same Activation screen

[2015-01-09 19:13] kvazarNS commented on #1
![---](https://cloud.githubusercontent.com/assets/10442414/5685592/f194d6d4-983b-11e4-917a-f71130504c3f.jpg)

[2015-01-09 20:26] kvazarNS commented on #1
https://github.com/filipp/gsxlib
https://github.com/rustymyers/warranty

[2015-01-09 21:00] andykhaula commented on #1
ketinggalan jauh sayah

[2015-01-09 21:12] antoris2011 commented on #1
@andykhaula bobok aza siii

[2015-01-09 22:57] lordlame commented on #1
@all download pfSense and setup a captive portal .. It allows access to safari before activation

Try the pdf exploit on 7.x.x

Second, an iPhone in lost mode ( NOT ERASED )fire up airodump-ng and watch the iphone sending out probes for access points that it has connected to ...

Setup similar wifi point with your own DNS server and figure out the rest ..

[2015-01-09 23:43] MohammedNawar commented on #1
can u make it more clear sir

[2015-01-10 00:19] Nad4 commented on #1
any one try this method http://idevice.eu.pn/idevicerstore-without-itunes/ i am going to try linux software

[2015-01-10 01:49] HERO4903 commented on #1
Ese parece que puede ser el método de Fodil

[2015-01-10 03:34] HERO4903 commented on #1
ALL. PARECE QUE FODIL EXPLICARA SU MÉTODO ESTA SUBIENDO EN ESTOS MOMENTOS

[2015-01-10 03:36] BenjiBth commented on #1
@HERO4903 what happened to fodil ?

[2015-01-10 03:38] HERO4903 commented on #1
https://twitter.com/fodil123/status/553757099050954753

[2015-01-10 03:39] HERO4903 commented on #1
https://twitter.com/fodil123/status/553757941648875520

[2015-01-10 03:40] BenjiBth commented on #1
@HERO4903 what files he upload

[2015-01-10 03:41] HERO4903 commented on #1
Esta explicando en Twitter paso por paso como hace su bypass

[2015-01-10 06:02] penguinunix commented on #1
can we open up a new github issue on this, this one is dead, the owner no longer showing up, dont know what happen to him

[2015-01-10 08:44] omnilatic commented on #1
paso a paso pero no suelta los archivos no ?

[2015-01-10 10:17] omnilatic commented on #1
Es más ha eliminado hasta las fotos y los pasos del twitter, vaya tela, no entiendo que gana la gente haciendo estas estupideces

[2015-01-10 11:00] alejandrofcarrera commented on #1
@TTMTT where are you?

@all alguien ha podido descargar las fotos de fodil para verlas con detenimiento?

[2015-01-10 12:15] Maaawww commented on #1
I have ALL the pics, but dont know what to do... What Fodid says yesterday?

[2015-01-10 12:29] alejandrofcarrera commented on #1
Upload it to mega or another server.

[2015-01-10 12:57] ictbalie commented on #1
Fodil is screaming months half hints just for the attention.

[2015-01-10 13:05] Maaawww commented on #1
if u want give me ur emails to share

[2015-01-10 13:20] djzveruga commented on #1
@Maaawww Why you can't put this here?

[2015-01-10 13:25] Maaawww commented on #1
because fodil dont want to share with all the people, he thinks apple is watching us.. you know.

[2015-01-10 13:43] djzveruga commented on #1
@Maaawww ok, vladdav2000@yandex.ru

[2015-01-10 13:50] syarwo commented on #1
@Maaawww share
isyarwono@gmail.com

[2015-01-10 13:52] genhack commented on #1
@maaawww pls send gagliarulo@gmail.com

[2015-01-10 13:54] HERO4903 commented on #1
No se por q pensé que las iba a borrar no estaba equivocado pero tome la precaución de guardarlas acabo de llegar a casa espero tener un tiempo para revisar todo el día de hoy

[2015-01-10 13:55] HERO4903 commented on #1
Lo malo es que como dicen algunos no comparte los archivos pero tal vez podemos darnos una idea espero que si

[2015-01-10 13:57] willgabriel commented on #1
![b69eewkigaecslc](https://cloud.githubusercontent.com/assets/8890867/5691803/03d35c3a-98af-11e4-8a23-3aab1a90017c.jpg)

[2015-01-10 13:57] willgabriel commented on #1
![b69yzzricaa11y_](https://cloud.githubusercontent.com/assets/8890867/5691807/192037c0-98af-11e4-8bcb-69f65fa11b54.jpg)

[2015-01-10 13:57] omnilatic commented on #1
Dudo que con la paupérrima calidad de las fotos puedas ver algo relevante en ellas, las ha quitado para dar por el culo pero las fotos no tenían nada de especial tampoco, se ve que ha conseguido el actavationinfo.xml y eso pero no se ve nada mas

[2015-01-10 13:58] willgabriel commented on #1
![b69x5q8iqaetlhj](https://cloud.githubusercontent.com/assets/8890867/5691809/2b9bf150-98af-11e4-95e4-5d2015661550.jpg)

[2015-01-10 13:58] Maaawww commented on #1
I send the pics...

[2015-01-10 14:11] RabbitRevenge commented on #1
Send me too revengetherabbit@gmail.com

[2015-01-10 14:17] alejandrofcarrera commented on #1
I see that he saw activation.xml and sensible information at boundary or others parts... no more.

Send me an email (github)

[2015-01-10 14:50] tenuchter commented on #1
@Maaawww van you send me the email too blastamove@msn.com

[2015-01-10 14:53] Yafi3i commented on #1
If you look at Fodil's pics carefully you can see he used the same IMEI and serial over and over again??!

[2015-01-10 14:55] Maaawww commented on #1
Done

[2015-01-10 14:59] tenuchter commented on #1
Tnx bro

[2015-01-10 15:00] RabbitRevenge commented on #1
thx

[2015-01-10 15:15] ictbalie commented on #1
Anyone Tried this ? iOS restore without itunes:

http://idevice.eu.pn/idevicerstore-without-itunes/

[2015-01-10 15:31] Nad4 commented on #1
hello i just did this method idevice.eu.pn/idevicerstore-without-itunes/ i got an error in idevicerstore almost in the end but i dont have linux skills

[2015-01-10 15:33] penguinunix commented on #1
@ictbalie i think idevicestore need to verify with apple, it could be use to restore "modified" ipsw, but i dont think it could be used for downgrade. anyone have success restoring with modified ipsw file using idevicerestore here?

[2015-01-10 15:34] Nad4 commented on #1
yes i just did almost all night trying i restore iphone 5 locked white screen but i got a error almost in the last command line :(

[2015-01-10 15:35] Yafi3i commented on #1
@Nad4 post your error here please

[2015-01-10 15:38] Mewming commented on #1
hello sir, can I have that pic also? we want to try...were losing hope for this thread. the thread owner also is missing... :(

[2015-01-10 15:40] AuraDhuha commented on #1
@ictbalie : I couldn't find any key for iPhone 5s. You guys can obtain Key from here : https://ipsw.me/keys

If any of you guys found Key for iPhone 5S, do mail me at auradhuha@gmail.com / myauratech@gmail.com. Thanks.

[2015-01-10 15:42] omnilatic commented on #1
no keys for 8.1.2 for Iphone 4,1 ? LoL

[2015-01-10 15:50] Nad4 commented on #1
i was looking this too https://www.youtube.com/watch?v=UvUxKGzvXEU using idevicerstore

[2015-01-10 16:20] DeltaTwoThree commented on #1
@Maaawww Can you send me too? deltasierra23@gmail.com

[2015-01-10 16:23] Mika3l commented on #1
@TTMTT is back in the house ..... wellcome brother

[2015-01-10 16:26] DeltaTwoThree commented on #1
are servers online?

[2015-01-10 16:30] ghost commented on #1
Never ending story...

[2015-01-10 17:18] megarock commented on #1
@Maaawww Send me too megadeth_@hotmail.fr

[2015-01-10 17:26] AuraDhuha commented on #1
This image was taken by my self. As you know, GitHub is the place for open source project. So, I don't need to hide anything from you guys as our goal is the same to find a way to unlock our iDevice. After you see this images and you found any clue, please do let we all know what to do next step as I really not clear what is he (Fodil) doing. Maybe by showing this to all of you we might reach valu

[2015-01-10 17:37] Maaawww commented on #1
i dont post the pics here because of apple. If apple patch this shit fuck foreverrrrr :D

[2015-01-10 17:42] djzveruga commented on #1
I'll tell you a secret... There is nothing to patch XD XD XD

[2015-01-10 17:44] Mewming commented on #1
goodluck for this guys... hope some dev here do something from that picture and share...i myself is not a coder...so i rely on just search and apply...
haay its been ages since we made a lot of thread on github...hopefully someone can share some positive outcome for us to succeed...

[2015-01-10 17:44] Maaawww commented on #1
good to listen that

[2015-01-10 17:46] albanodesign commented on #1
There is someone working for us :)

On Saturday, January 10, 2015, Maaawww notifications@github.com wrote:

[2015-01-10 18:43] antoris2011 commented on #1
what's that??? wow amazing.. amazing.. good fodil123 :D :D D:
no one discus it?? why?? :D :D D:

[2015-01-10 19:31] trapcode commented on #1
got the point, nice set of pics there

[2015-01-10 19:34] djzveruga commented on #1
http://www.youtube.com/watch?v=-C_agqDMmsU What you think about this channel?

[2015-01-10 19:49] HERO4903 commented on #1
Ya se anuncio 8.1.3 así que si es verdad no tiene mucho tiempo

[2015-01-11 00:47] noxwow commented on #1
@Maaawww can you share? noxwownoxwow@gmail.com

[2015-01-11 02:19] ictbalie commented on #1
This person made an interesting announcement about bypass. Plus I never caught them lying before:

https://twitter.com/tahgoonz/status/554085437787373568

[2015-01-11 07:20] w8llson commented on #1
Please help me with idevicerestore on linux. When i try the command line the terminal said "package not found" please how can i install and use idevicerestore through my linux

[2015-01-11 09:00] 3ruceW commented on #1
@w8llson Hi, have you followed this instructions?
https://www.icj.me/tutorials/compile-idevicerestore-on-linux

[2015-01-11 09:11] w8llson commented on #1
No bro i will try and give you a feedback. Thanks a lot

[2015-01-11 09:53] w8llson commented on #1
@3ruceW bro when i enter the first command line it said " E: unable to find build-essential package and E: unable to find automake package" can you help me please?

[2015-01-11 10:00] w8llson commented on #1
Can anyone tell me what to do step by step after downloading the idevicerestore zip file???

[2015-01-11 10:07] w8llson commented on #1
My e-mail w8llson@gmail.com

[2015-01-11 11:35] ghost commented on #1
ideviceactivate repo was last authored 5 years ago... if it still works ill be amazed.

[2015-01-11 11:37] florindmtr commented on #1
That is old :)
Have you heard of libideviceactivation?

[2015-01-11 11:41] funkyman commented on #1
Just sharing what happened just now on an icloud locked 5S 7.0.4. I was messing around and toggling options I turned on calender and find my iphone turned off. I was able to log in with my icloud ID. Trouble is a minute later I erased the phone, and was even sent the "Find My iPhone has been disabled on ...'s iPhone." message to my email address. Now I've got the white screen asking for the origin

[2015-01-11 11:45] albanodesign commented on #1
We are trying to do the opposite

On Sunday, January 11, 2015, funkyman notifications@github.com wrote:

[2015-01-11 12:00] funkyman commented on #1
I've done something similar downgrading an iphone 4 to version 6, I was logged into my iCloud but find my iphone was still pointing to the previous account.

[2015-01-11 16:10] R0of commented on #1
# don't waste your time for hacking! Give back iphone to owner!

[2015-01-11 16:35] ghost commented on #1
@R0of О как! Правильным стал?)))

[2015-01-11 16:52] antoris2011 commented on #1
@w8llson what linux?? ubuntu?? download idevicerestore from github??

[2015-01-11 17:01] djzveruga commented on #1
@andythepooh Опа, русиш нарисовался :Е

[2015-01-11 17:13] w8llson commented on #1
@antoris2011 linux ubuntu 12.10 yes i have downloaded idevicerestore... Now what can i do else?????

[2015-01-11 17:14] antoris2011 commented on #1
@w8llson have you unzipped? if yes.. go to directory.. come to skype bro.. antoris2011 i can tell you step by step

[2015-01-11 17:21] john403 commented on #1
om @antoris2011 udah dapet perkembangan yg solusi dari Fodil??

[2015-01-11 17:39] antoris2011 commented on #1
@john403 lagi otak atik sama @trapcode, skype yuuk

[2015-01-11 17:46] syarwo commented on #1
om@antoris2011 ada email? newbi lg belajar bypass ada yg mau di tanyakan. barangkali bisa bantu

[2015-01-11 18:12] john403 commented on #1
ojo ngenyek om , gk ono webcam :3
ntr beli kalo ada duit hehehe

[2015-01-11 20:06] kbulzo commented on #1
new instructions http://adf.ly/w7rYA

[2015-01-11 20:26] kvazarNS commented on #1
pass?

[2015-01-11 20:28] tenuchter commented on #1
pass?

[2015-01-11 20:28] g454ly commented on #1
@antoris2011 lanjut lg

[2015-01-11 20:32] g454ly commented on #1
yahhh ngga ikhlas ini orang ngasih udah link nya direcehin file nya dikasih password lg!!

[2015-01-11 20:37] kvazarNS commented on #1
Can someone try all this HTDOCS ?
http://www.mediafire.com/download/djnccvruh9ouugr/TD+htdocs.zip

[2015-01-11 20:38] kvazarNS commented on #1
AND THIS
http://www.mediafire.com/download/5vi8de6bvm48j02/TD+deviceActivation.zip

[2015-01-11 20:38] melsy001 commented on #1
@kvazarNS u can't try ?

[2015-01-11 20:38] kvazarNS commented on #1
http://www.mediafire.com/download/lwnrixi25tf18cv/TD+Doulci+Activator.rar
and this

[2015-01-11 20:39] kvazarNS commented on #1
i cant try now, later. I havent time now

[2015-01-11 21:07] HERO4903 commented on #1
kbulzo puedes compartir la contraseña por favor

[2015-01-11 21:54] w8llson commented on #1
@kbulzo what is the new instructions unzip file password?

[2015-01-11 22:35] Ganja47 commented on #1
@kvazarNS TD device activation contained this

-----BEGIN CERTIFICATE-----
MIIGBzCCBO+gAwIBAgIQHsWziRKZwM9oVd1nfPSo2zANBgkqhkiG9w0BAQUFADCB
vjELMAkGA1UEBhMCVVMxFzAVBgNVBAoMDlZlcmlTaWduLCBJbmMuMR8wHQYDVQQL
DBZWZXJpU2lnbiBUcnVzdCBOZXR3b3JrMTswOQYDVQQLDDJUZXJtcyBvZiB1c2Ug
YXQgaHR0cHM6Ly93d3cudmVyaXNpZ24uY29tL3JwYSAoYykwNjE4MDYGA1UEAwwv
VmVyaVNpZ24gQ2xhc3MgMyBFeHRlbmRlZCBWYWxpZGF0aW9uIFNTTCBTR0MgQ0Ew

[2015-01-11 23:39] kvazarNS commented on #1
Can I EDIT that signature for my old signature from 7.1.1 bypass ? Is that possible? I have copy information from bypass my iphone from 7.1.1...Now Im on 8.0

[2015-01-12 01:45] antoris2011 commented on #1
@syarwo antoris2011@yahoo.com

[2015-01-12 03:22] funkyman commented on #1
@R0of if its in lost mode it is lost or stolen, if the they put a contact number they can get it back. But the vast majority of locked iDevices are pawned, sold or given away by some dumbass who does not understand that they need to remove iCloud otherwise the thing is just a paperweight, and there is little chance of finding them from a censored email address, eg: "g******@icloud.com". My guess i

[2015-01-12 03:34] penguinunix commented on #1
@funkyman that R0of has been pawned by Apple, either he has been paid by Apple or Apple has filled a suits against him...

so you can ignore his request and continue this discussion...

[2015-01-12 08:16] jxosdev commented on #1
@Maaawww back to github, i'd like to check those precious pics. jxosdev@gmail.com.
Thanks

[2015-01-12 09:36] funkyman commented on #1
@penguinunix The real criminals are Apple who could accept a lost device and pass it onto the original owner but don't. They also probably make many millions, cutting iCloud locked devices out of the second hand market..

[2015-01-12 09:40] penguinunix commented on #1
@funkyman whatever, lots of people not aware about setting up the phone until they lost the password. i have setup more than one device to my friend, lots of them coming back to me when upgrading, have error and they forgot the password thing, they event can't remember the answer of security question, and their email was not used more than a month, so how could you help people like that?

all devi

[2015-01-12 09:41] gsmnouri commented on #1
there is solution unlock icloud  with know email ?

[2015-01-12 09:53] takki62 commented on #1
@gsmnouri  Dear Sir Problem is how to find the e-mail associated with the device?

[2015-01-12 09:55] gsmnouri commented on #1
you can use service find full info icloud  from server like hackiphone.me

[2015-01-12 09:56] funkyman commented on #1
@penguinunix I agree with you there man.

[2015-01-12 09:59] penguinunix commented on #1
@funkyman I don't stand for those who really do stoling anything, but lots of ppl are victim because they did not aware about this icloud things. they buy 2nd hand device and found it locked, they did not know where to turn to, and you tell them to return their $300++ to the original owner? what a stupid joke.

[2015-01-12 10:43] funkyman commented on #1
@penguinunix I did not say return and lose your money, I said it is possible to return it (if there is a contact number) as opposed to not possible with a censored email address only.
A person finding or stealing a device then selling it is the criminal. The police can investigate that. I for one hope I never buy such a device and lose money on it, I also hope if somebody finds my phone or ipad th

[2015-01-12 10:44] w8llson commented on #1
Me i have the icloud account associatd with my iphone but can't unlock

[2015-01-12 10:52] penguinunix commented on #1
@funkyman everybody hopes the same, if it not put in lost mode, how could you return it back since you have no original owner information. Also, buying from 2nd hand, you never know what will happen until someone said, you have wasted your money to useless thing, return this things and let go of your money... I know how it would be feel if it happen to me :)

[2015-01-12 11:11] funkyman commented on #1
@penguinunix Yes, that's what I said. I also blamed Apple for not helping. If Apple were honest you could return it to any Apple store and they would contact the customer, icloud locked or not.
A buyer does have some responsibility too, with any item if you don't understand how icloud works, try ebay then you can get your money back if the seller lied to you.

[2015-01-12 18:25] ghost commented on #1
@funkyman They don't want you to return the original owner. They want you to buy a new idevice, and want the original owner to do the same, they take advantage from the people that don't know how to use iCloud properly and don't how to remove the iDevice from their account before re-selling it.
By the way now we have the activation lock site to check before buy from second hand, but we didn't have

[2015-01-12 19:39] melsy001 commented on #1
@all Boys can u help me ! trying to bypass ipad 4 3g from hardware method but im stuck at" Error 3194 This device isn't eligible for the requested build"

[2015-01-12 20:00] kbulzo commented on #1
remove windows host and restore again

[2015-01-12 20:01] melsy001 commented on #1
@kbulzo yeeep i tryed that ! not working :(

[2015-01-12 20:02] oncomangus commented on #1
@kbulzo pass plz...?

[2015-01-12 20:06] melsy001 commented on #1
![sadasdsad](https://cloud.githubusercontent.com/assets/10366329/5709987/d139cbbe-9a9e-11e4-9ede-e1416d9fc2fe.jpg)
![asasas](https://cloud.githubusercontent.com/assets/10366329/5709988/d1d13850-9a9e-11e4-995a-994190a60bd1.jpg)

[2015-01-12 20:06] kbulzo commented on #1
ipsw ?

[2015-01-12 20:09] melsy001 commented on #1
@kbulzo  i have tryed all except gsm ipad ipsw ! ipad wifi, ipad mobile + wifi
iPad3,4_7.1.1_11D201_Restore
iPad3,4_7.1.2_11D257_Restore
iPad3,6_7.1.1_11D201_Restore

[2015-01-12 20:12] kbulzo commented on #1
and updated version of ipsw 8.1.2 ipad with wifi, will work at the time

[2015-01-12 20:13] melsy001 commented on #1
@kbulzo  i will try that tnx for ur suggestion

[2015-01-12 20:13] kbulzo commented on #1
7.1.1 works not only 8.1.2

[2015-01-12 20:16] melsy001 commented on #1
@kbulzo  i do not know what to say anymore ! if u want i can post a photo of serial nr and others mby  i have missed somthing ! or i have wrong information

[2015-01-12 20:19] melsy001 commented on #1
![adsdasdsadasdasdasdasdasd](https://cloud.githubusercontent.com/assets/10366329/5710204/626ad9b0-9aa0-11e4-8ac0-eba4bfd17a7f.jpg)
MODEL: IPAD (4TH GEN) WI-FI + CELLULAR (MM)
IMEI: 990003086438500
MEID: 99000308643850
SERIAL: DLXKJ05WF18P
FIND MY iPHONE: ON
HW WARRANTY: Out of Warranty (0 days)
PHONE SUPPORT: No phone support (0 days)
PURCHASE DATE: 2013-07-08
PRODUCT SOLD BY: H3G S.P.A. A SOCIO U

[2015-01-12 20:19] kbulzo commented on #1
iPad3,4_8.1.2_12B440_Restore.ipsw

[2015-01-12 20:21] nashwanoz commented on #1
@kbulzo  plz help me  after bypass ipad 4 3g from hardware method
restore ipad iPad3,5_8.1.2_12B440_Restore   gsm  restore Completed
but ipad enter DFU again
my ipad model
iPad (4th gen) Wi-Fi, Cellular (MM)
Serial Number: DMPKGB3DF18W

[2015-01-12 20:23] kbulzo commented on #1
restores ipsw wifi 8.1.2

[2015-01-12 20:26] melsy001 commented on #1
@nashwanoz iPad 4 3G Model A1459 (GSM) ? or iPad 4 3G Model A1460 (CDMA)  ? What resistor did ur  remove ?

[2015-01-12 20:28] nashwanoz commented on #1
@melsy001  ipad 4 3g CDMA  Model A1460
 resistor remove r1204

[2015-01-12 20:30] melsy001 commented on #1
@nashwanoz  right bro ! i'm stuck to with that ipad same model
this is your MODEL: IPAD (4TH GEN) WI-FI + CELLULAR (MM)
MEID: 99000308327726
SERIAL: DMPKGB3DF18W
HW WARRANTY: Out of Warranty (0 days)
PHONE SUPPORT: No phone support (0 days)
PURCHASE DATE: 2013-04-30
PRODUCT SOLD BY: VERIZON WIRELESS - D239301
INITIAL CARRIER: US VERIZON
PURCHASE COUNTRY: UNITED STATES

[2015-01-12 21:01] Maaawww commented on #1
Kbulzo can u show me the password of the files u shared yesterday?

[2015-01-12 22:21] melsy001 commented on #1
@all @nashwanoz  It worked with 8.1.2 ! tnx boys !

[2015-01-12 22:21] melsy001 commented on #1
@kbulzo  tnx broo :)

[2015-01-12 22:24] nashwanoz commented on #1
@melsy001  not work with me
my ipad DFU

[2015-01-12 23:17] kvazarNS commented on #1
what is pass for kbulzo file????

[2015-01-12 23:33] w8llson commented on #1
@kbulzo i am looking for the password of your file.send it to my lail if you can w8llson@gmail.com

[2015-01-12 23:36] w8llson commented on #1
@melsy001 hi bro please wich method are you talking about?can you help us too?

[2015-01-12 23:43] HERO4903 commented on #1
w8llson no tiene nada solo un archivo txt  que no tiene nada

[2015-01-12 23:56] ictbalie commented on #1
iCL0udiniiiiiiii

[2015-01-13 00:08] ictbalie commented on #1
http://myicloud.info/bypass/td-activator-v1-0-1

[2015-01-13 02:39] kbulzo commented on #1
have someone who still need to bypass? all grateful now ??

[2015-01-13 02:44] BenjiBth commented on #1
nothing happen

[2015-01-13 02:57] kbulzo commented on #1
1 http://adf.ly/wBI76 2 http://adf.ly/wBIRA  3 http://adf.ly/wBIo9 4 http://adf.ly/wBIkF  good night !

[2015-01-13 03:04] BenjiBth commented on #1
serfer is offline is it legit ?

[2015-01-13 03:53] HERO4903 commented on #1
kbulzo buen trabajo pude conectar a su servidor es posible que lo ponga en linea

[2015-01-13 06:13] neox09 commented on #1
@HERO4903 puedes mandarme la informacion acerca del metodo de kbulzo si funciona o no el servidor.
eloriginaldjneox@hotmail.com gracias

[2015-01-13 07:05] HERO4903 commented on #1
neox09 la informacion que requiere ya la compartio el mismo kbulzo en esta discusion

[2015-01-13 08:31] h00d3d commented on #1
downloading TD , did it work for anyone?

[2015-01-13 08:33] BenjiBth commented on #1
it didn't work just some crap

[2015-01-13 08:44] h00d3d commented on #1
did u trasnlate that txt inside?

[2015-01-13 09:00] adhibi commented on #1
The server is offline?

[2015-01-13 10:14] trapcode commented on #1
the server is never online , they only learn some vb code to make dropdown, and timer to move the progressbar... and the world got fucked

[2015-01-13 10:52] adhibi commented on #1
![image](https://cloud.githubusercontent.com/assets/10420041/5719653/9f73d332-9b1a-11e4-8ebd-918be47e12cd.png)

[2015-01-13 10:58] kvazarNS commented on #1
You guys dont follow, I sent that files before kbulzo. I understand now, you dont follow...That is pitty

[2015-01-13 10:59] kvazarNS commented on #1
2 days ago....Before myiclod.info before anyone

[2015-01-13 12:32] omnilatic commented on #1
Aqui siempre veo lo mismo, todos los servidores siempre offline, para que narices hacen falta los archivos htdocs si después pide tener un servidor externo ? no entiendo estas cosas en serio, todo me suena a fake, digamos que podemos tener toda la fe del mundo pero es que no veo que nadie diga en github, HE DESBLOQUEADO MI IPHONE 4S IOS 8!!! o algo por el estilo, al contrario todo el mundo intenta

[2015-01-13 12:34] omnilatic commented on #1
TTMTT está fuera de cobertura de hace días también, o sea que esto parece que va perdiendo fuelle, por que no creo que el sea el único capaz de encontrar un exploit, normalmente en la scene cuando alguien encuentra un xploit al poco tiempo salen muchos modders que encuentran dicho xploit o varios mas.

[2015-01-13 15:11] funkyman commented on #1
Does anyone have some english instructions for that TD Activator?

[2015-01-13 15:40] antoris2011 commented on #1
this website is on an hosting service..

[2015-01-13 16:10] john403 commented on #1
mijo,,, mijon,,, akua, kacang godhok, kacang goreng
#menunggu_episode_bypass_masih_lama

[2015-01-13 16:40] rawon-tuyul commented on #1
icloud pabu

[2015-01-13 16:43] rawon-tuyul commented on #1
td activator is doesn't work like icloudin as fake.. ... server never online till the end..

[2015-01-13 17:29] kbulzo commented on #1
as the server is off and you are using the local server xampp

[2015-01-13 17:31] kbulzo commented on #1
someone Brazil ??

[2015-01-13 17:31] HERO4903 commented on #1
kbulzo cual es la finalidad de su servidor publicidad ?

[2015-01-13 17:32] kbulzo commented on #1
that the purpose and real enough to know to use

[2015-01-13 17:34] Ven0x commented on #1
Hello. I have an internal certificate from iOS 8. Has anyone met him before?
https://twitter.com/Ven0x/status/555054050325319680

[2015-01-13 17:36] HERO4903 commented on #1
gracias Kbulzo y buen trabajo espero poder enteder su metodo

[2015-01-13 17:38] rawon-tuyul commented on #1
@kbulzo proff ??????? or just another drama?

[2015-01-13 17:41] kbulzo commented on #1
understand what you want, so was tired of waiting ttmtt, minacriss, doulci, varus, among others, the links are there enjoy

[2015-01-13 17:43] kvazarNS commented on #1
which files? ! TD activator?

[2015-01-13 17:44] HERO4903 commented on #1
kbulzo nuevamente gracias solo queria saber que funcionaba para poder intentarlo ultimamente solo se ve basura en internet que solo confunde y no se llega a nada espero si mas adelante me atoro me pueda dar una pista gracias de todas maneras

[2015-01-13 17:46] kvazarNS commented on #1
td activator is trash

[2015-01-13 17:46] Ven0x commented on #1
this is a very high or what?
![2333](https://cloud.githubusercontent.com/assets/10010332/5725597/1e02f436-9b4c-11e4-9481-ae6b182c8a51.png)
https://twitter.com/Ven0x/status/555058292767346688

[2015-01-13 17:48] cloud-checker commented on #1
Does any one check this method — http://j.gs/8787659/icloud-checker , is it works???

[2015-01-13 17:49] kvazarNS commented on #1
hahaha i sent that files 2 days ago ! CMON GUYS!!!!

[2015-01-13 17:52] kbulzo commented on #1
but with my combination and something happens CCProxy htdocs as I said before if divirtão :+1:

[2015-01-13 18:02] kvazarNS commented on #1
which htdocs you use ? And which method?

[2015-01-13 19:13] genhack commented on #1
@kvazarNS  All u mega link down bro can u chek it? thanks in advance

[2015-01-13 19:20] kvazarNS commented on #1
how to set up this htdocs , fiddler and xammp ??!?!?! IOS 8.0 iphone 5

[2015-01-13 19:21] kvazarNS commented on #1
@genhack you got kbulzo adfly links. That is the same files

[2015-01-13 19:29] cloud-checker commented on #1
Can some one say what is this and how can I use it??? I got it from Russian forum, but exe doesn't work! Is it fake??? http://j.gs/8787659/icloud-checker

[2015-01-13 19:32] kvazarNS commented on #1
td activator work but you cant do anything with him. I think that fiddler,xammp and htdocs works but i dont know how

[2015-01-13 19:33] kvazarNS commented on #1
td activator work but you cant do anything with him. I think that fiddler,xammp and htdocs works but i dont know how

[2015-01-13 19:33] HERO4903 commented on #1
kbulzo todas las versiones funcionan o tengo que intentar otras versiones estoy en 7.1.2 un 5S puedes darme pista amigo

[2015-01-13 19:34] omnilatic commented on #1
dudo que te sepa ayudar, es más si mirais la web oficial de esta gente que ha creado este activador, está out, ahora te dice que está libre el dominio para comprar ... vaya tela

[2015-01-13 19:36] kvazarNS commented on #1
ENGLISH plz

[2015-01-13 20:07] genhack commented on #1
Td activator e td htdocs not work!

[2015-01-13 20:18] Maaawww commented on #1
fake fake fake fake :(

[2015-01-13 20:19] Maaawww commented on #1
u know guys, we can't do anything in this thread. Learn chinese and go to http://bbs.25pp.com/forum.php?mod=forumdisplay&fid=96&filter=reply&orderby=replies good luck

[2015-01-14 01:19] melsy001 commented on #1
@nashwanoz  first of all you download the Wifi ipsw http://appldnld.apple.com/ios8.1.2/031-12409.20141208.j3glB/iPad3,4_8.1.2_12B440_Restore.ipsw than connect to itunes will detect on recovery mode ! press shift than click to recovery mode button and select the ipsw that u have downloaded ..... your free to go

[2015-01-14 01:21] melsy001 commented on #1
@w8llson  its for ipad 4 3g ! by the hardware method

[2015-01-14 02:04] penguinunix commented on #1
@BGpercival so did you win the bet? LOL .. you must be richer $1,000 as promised

let's make new donation page for head hunting @TTMTT, I think he run away with people's donated money ...

[2015-01-14 09:19] R0of commented on #1
# Ha ha aha h aha ha ha ha ha ha a ahah ah ahahahahah ahah ah ah ah ah a hha hah a ha Apple Rulez ))))

[2015-01-14 14:39] penguinunix commented on #1
@R0of ya whatever you said

[2015-01-14 15:36] adhibi commented on #1
Je pense chercher d'abord une vulnérabilité pour l'exploiter.

On doit créer une communauté et travailler ensemble.
Qui part pour cette idee

[2015-01-14 17:10] kvazarNS commented on #1
Can someone tell me what exactly folders and files go to Xammp device folder?

[2015-01-14 18:22] adhibi commented on #1
This method does not work

[2015-01-14 20:38] melsy001 commented on #1
@penguinunix don't worry bro he will be here again ! when he will finish the money !

[2015-01-14 21:43] genhack commented on #1
LOLOLO Any news?

[2015-01-14 23:57] ictbalie commented on #1
https://twitter.com/mydevice4/status/555510187642343425

[2015-01-15 00:58] yazdf commented on #1
hi guys, one question, i bypass the itunes, using @icloudactivati1 files.. how i can autentique the fake itunes, with the iphone?

need cert ? public key? xml in requests folders?

[2015-01-15 01:07] kvazarNS commented on #1
@yazdf Which files do you have? Can you send me? In folders that im sent here HTDOCS.rar are many files

[2015-01-15 01:47] yazdf commented on #1
@kvazarNS https://www.dropbox.com/s/rycwg5f4gm600pi/htdocs.rar?dl=0

[2015-01-15 03:14] penguinunix commented on #1
@melsy001 i doubt it, in case he came here again, i'm sure that he will use another face, with another scam type .. LOL

[2015-01-15 07:09] adhibi commented on #1
@kvazarNS it does not work for me!!

[2015-01-15 07:10] jxosdev commented on #1
td-activator just bypasses itunes, but says activation data are invalid.
td-htdocs says the same thing but prints informations without the GUID. did i miss any other configuration ?

![itunes_response](https://cloud.githubusercontent.com/assets/9977503/5753729/9e698f74-9c9e-11e4-9b1f-588c28fa48df.png)

[2015-01-15 10:14] penguinunix commented on #1
@jxosdev as I'm recall, htdocs method is no longer working without valid certs, so I guess it will only bypass iTunes

[2015-01-15 10:33] jxosdev commented on #1
@penguinunix ok bro

[2015-01-15 14:25] Azhturion commented on #1
@jxosdev It's an old Proof of concept. Everything is scam and shit here.

http://myicloud.info/icloud-bypass-home-server/

It's posted here that server

[2015-01-15 15:12] jxosdev commented on #1
@Azhturion any other good forum ?
@all it seems like nobody comes here anymore, please add me if there's private chat somewhere jxosdev@gmail.com

[2015-01-15 23:35] ictbalie commented on #1
https://twitter.com/idevicetool/status/555869079286710272

[2015-01-15 23:55] kvazarNS commented on #1
i have been try this server when he start. Taha sent new htdocs files. When I click on server 127.0.0.1 albert.apple.com I got this screen:
![---](https://cloud.githubusercontent.com/assets/10442414/5769339/4925bd36-9d1a-11e4-97b3-f778b37d7027.jpg)

[2015-01-15 23:58] kvazarNS commented on #1
iphone 5 os 8.0....Taha was wrote on his page that server do not support lost and erased white screen but today on page was information and picture that server support this bypass. BUT i dont bypass succes...I have bypass Itunes with these files but i cant do anything. I got lockdown folder and activation list from bypassed 7.1 ios. Can i use this files to edit somehow these new htdocs and bypass

[2015-01-16 00:03] Azhturion commented on #1
@jxosdev  Si hablas español, tenemos un grupo de whatsapp.

@kvazarNS You need the certs.

@TTMTT Hey give us the certs please. I believed in you, donated you and you just fade away. :(

[2015-01-16 00:08] kvazarNS commented on #1
can we build certs?

[2015-01-16 00:10] hhhhugi commented on #1
Does Dt-Activator works ? any success ?

[2015-01-16 00:11] kvazarNS commented on #1
no, error

[2015-01-16 00:26] Azhturion commented on #1
@kvazarNS No, you can't. According to a screenshot of some guy who was here and coding part of the server (his twitter is @_MxFire_ ), anonymous spain theft those certs and provided to them.

Sorry for the screenshot, don't have it, he erased that pic.

Ps. That screen was fake?

[2015-01-16 00:30] drmatrix commented on #1
i think its chance to have fs access from safari with ios8.0 theris many bugs we can exploit
get look here
http://www.sencha.com/blog/apple-shows-love-for-html5-with-ios-8

[2015-01-16 03:16] kbulzo commented on #1
everything was shown nobody will make this plubico ttmtt will never release anything that discursão will take several years htdocs and real but for the few that has the logic of sometimes program'm fine do not need anyone else all the tools are online and all the tutorials have already been discussed here a few have the deviation but does not reveal to anyone that bypass and fuck lol good night gu

[2015-01-16 03:17] kbulzo commented on #1
so remember to have 4 bypass methods

[2015-01-16 11:08] jxosdev commented on #1
@Azhturion hablo espñol un poco. add me please.My mail adress jxosdev@gmail.com. thanks

[2015-01-16 11:13] ictbalie commented on #1
https://twitter.com/tahmrs/status/556042310157611008

Better open à new thread. New era.=

[2015-01-16 12:22] Mika3l commented on #1
yes no respond from him for a days

[2015-01-16 14:04] yazdf commented on #1
guys, me and a friend, have certs valid until 2024, we trying make a connection between itunes fake (xamp server - 127.0.0.1) and the device.. but we not undestand how this works.. where put the certs, and public/private keys.. anyone with the right skills to help with this?  sry for bad english...

[2015-01-16 14:15] kbulzo commented on #1
@yazdf  email ?

[2015-01-16 14:16] Ganja47 commented on #1
@kbulzo original albert EV level 3 cert and private key are in td activator pack, i posted them a bit up as plaintext too
nice but not helpful without fairplay

[2015-01-16 14:19] yazdf commented on #1
kbulzo, yaztromowow1@gmail.com

[2015-01-16 14:22] Ganja47 commented on #1
-----BEGIN CERTIFICATE-----
MIIGBzCCBO+gAwIBAgIQHsWziRKZwM9oVd1nfPSo2zANBgkqhkiG9w0BAQUFADCB
vjELMAkGA1UEBhMCVVMxFzAVBgNVBAoMDlZlcmlTaWduLCBJbmMuMR8wHQYDVQQL
DBZWZXJpU2lnbiBUcnVzdCBOZXR3b3JrMTswOQYDVQQLDDJUZXJtcyBvZiB1c2Ug
YXQgaHR0cHM6Ly93d3cudmVyaXNpZ24uY29tL3JwYSAoYykwNjE4MDYGA1UEAwwv
VmVyaVNpZ24gQ2xhc3MgMyBFeHRlbmRlZCBWYWxpZGF0aW9uIFNTTCBTR0MgQ0Ew
HhcNMTQxMDEzMDExMDExWhcNMjQxMDEzMDExMDExWjBzMQs

[2015-01-16 14:25] yazdf commented on #1
@Ganja47  can you send the TD activator pack link to me? i will take a look in this files.. thanks bro

[2015-01-16 14:25] kbulzo commented on #1
@Ganja47 have successfully ios 7 now with no do not know why ios8

[2015-01-16 14:27] yazdf commented on #1
@kbulzo  br aqui tambem... vc teve sucesso com o IOS 8? usando qual método?

[2015-01-16 14:32] kbulzo commented on #1
have successfully ios 7 xampp

[2015-01-16 14:35] satya14may commented on #1
@kbulzo can u pliz send me ur instructions at satya14may@gmail.com. Thanks
in advance
On Jan 16, 2015 7:45 PM, "kbulzo" notifications@github.com wrote:

[2015-01-16 14:35] Ganja47 commented on #1
@yazdf kbulzo posted the 4 days back
1 http://adf.ly/wBI76 2 http://adf.ly/wBIRA 3 http://adf.ly/wBIo9 4 http://adf.ly/wBIkF

[2015-01-16 14:36] zmnz commented on #1
@Ganja47: Do you mean FairPlay Signature?

[2015-01-16 14:40] kbulzo commented on #1
anyone have any idea what was corrected in ios8 we are not getting success?

[2015-01-16 14:41] Nad4 commented on #1
@yazdf all downloads updated yesterday here TD activator pack http://myicloud.info/bypass/td-activator-v1-0-1/

[2015-01-16 14:42] yazdf commented on #1
thank you all... i ll take a look...

[2015-01-16 14:42] Nad4 commented on #1
the server its only to inject CERTIFICATES and XML

[2015-01-16 14:44] genhack commented on #1
Work With ios8? ?

Inviato dal mio dispositivo Samsung

-------- Messaggio originale --------
Da: Nad4 notifications@github.com
Data: 01/16/2015  15:41  (GMT+01:00)
A: TTMTT/iCL0udin iCL0udin@noreply.github.com
Cc: genhack agliarulo@hotmail.it
Oggetto: Re: [iCL0udin] Discuss1 (#1)

@yazdf all downloads updated yesterday here TD activator pack http://myicloud.info/bypass/td-activator-v1-0-1/

—
Rep

[2015-01-16 14:48] Ganja47 commented on #1
the updated htdocs deviceactivation having fixed value for device certificate?
looks wrong to me
@zmnz yes, fairplay has changed since doulci used to work

[2015-01-16 14:54] kbulzo commented on #1
http://adf.ly/wBIRA

[2015-01-16 14:57] Ganja47 commented on #1
@kbulzo go check the deviceactivation file, it's crap
it's not getting any certs or keys to sign stuff, all values hardcoded in there
this is never going to activate anything

[2015-01-16 14:58] zmnz commented on #1
Ganja47:
how do you see what is wrong in the server response? what programs do you use?

[2015-01-16 15:00] Ganja47 commented on #1
@zmnz i'm just a noob myself, don't know enough to see why responses are rejected by itunes/device
the last posted deviceactivation can't work though, just open it and check, no signing/requesting in there, contains hardcoded values for one device

[2015-01-16 15:01] zmnz commented on #1
@Ganja47 try it: https://code.google.com/p/iactivator/downloads/detail?name=syslog_relay.exe&can=2&q=

[2015-01-16 15:03] Ganja47 commented on #1
i use cinject for syslog, works for me, i think itunes decides the activation is not valid and doesn't even try push to device, nothing obvious there during activation request

[2015-01-16 15:37] Ganja47 commented on #1
i stand corrected
Jan 16 15:34:32 iPhone mobactivationd[91] <Error>: libMobileGestalt MGBasebandSupport.c:196: No kCTMobileEquipmentInfoMEID in CT mobile equipment info dictionary
Jan 16 15:34:32 iPhone mobactivationd[91] <Error>:  SecTrustEvaluate  [leaf AnchorSHA1 AnchorTrusted ChainLength IssuerCommonName]

[2015-01-16 15:41] drmatrix commented on #1
Ganja can you explain more
Le 16 janv. 2015 16:37, "Ganja47" notifications@github.com a écrit :

[2015-01-16 15:42] nikosSid commented on #1
@kbulzo what u mean? that u found something that works for ios 7? and u cant make it work for 8?

[2015-01-16 15:43] Ganja47 commented on #1
thats the syslog when trying to activate with xampp, valid cert and key albert.apple.com

[2015-01-16 15:45] drmatrix commented on #1
And how can we use syslog?  Just run it or any command line??
Le 16 janv. 2015 16:43, "Ganja47" notifications@github.com a écrit :

[2015-01-16 15:46] zmnz commented on #1
Yes, run it & connect Iphone

[2015-01-16 15:46] Ganja47 commented on #1
@drmatrix just run syslog_relay posted above, connect device, be prepared for a lot of data ;-)

[2015-01-16 15:48] drmatrix commented on #1
Great l turn on my laptop now :)
Le 16 janv. 2015 16:46, "Ganja47" notifications@github.com a écrit :

[2015-01-16 15:50] zmnz commented on #1
@Ganja47 I am glad that something could help))

[2015-01-16 15:52] willgabriel commented on #1
Creio que seja pelo linux
Em 16/01/2015 10:27, "yazdf" notifications@github.com escreveu:

[2015-01-16 15:54] zmnz commented on #1
@Ganja47 AccountToken Signature, Device Sert - is correct with your  sert & priv.key?

[2015-01-16 16:09] Ganja47 commented on #1
don't know, not good enough in crypto

[2015-01-16 16:28] HERO4903 commented on #1
Ganja47 Puede usted compartir sus certificados para probar su metodo

[2015-01-16 16:29] Ganja47 commented on #1
@HERO4903 only english or german, sorry

[2015-01-16 16:30] HERO4903 commented on #1
ganja47  ok can you share certificates to prove their method

[2015-01-16 16:31] Ganja47 commented on #1
@HERO4903 just scroll up a bit, posted cert and private key there

[2015-01-16 16:31] HERO4903 commented on #1
ganja47 a question I use syslog for windows or linux only serves to

[2015-01-16 16:33] Ganja47 commented on #1
i use windows only, been out of this game for a while, only get in contact with linux when updating my pingulux satellite receiver and oscam

[2015-01-16 16:35] HERO4903 commented on #1
ganja47 Thank very mucho I'll try

[2015-01-16 16:37] Ganja47 commented on #1
they were deep in the td-activator zip
worth a look

[2015-01-16 16:44] Azhturion commented on #1
@yazdf Nós temos um grupo de whatsapp. Nós falamos espanhol más eu acho que você pode entender perfeitamente. Por favor ajude-os.

Aínda meu português é ruim más eu pode falar.

Obrigado!

[2015-01-16 16:46] drmatrix commented on #1
Ganja47
what is the steps ?:)

[2015-01-16 16:57] Ganja47 commented on #1
@drmatrix what for ? the syslog ?
just start the relay and connect device and see the data you get
literally every keystroke or touch will invoke a message here, lots of data
now just do whatever, try activate device, try a jailbreak, see what syslog reports, analyse

[2015-01-16 17:04] drmatrix commented on #1
@Ganja47
thanks very much for the support , but i have do that 6 mounth a go , its many stuff for sniffing info during the activation process , but right now , no way intercept or revrse engine , i think we try to use curl for keepng the same protocol session , header , cookie

[2015-01-16 17:13] Ganja47 commented on #1
@drmatrix i dont know enough about php, headers, sessions and all this
everyone away from server activation now, device based bypass way to go
been stressed and busy with business lately, still think better course of action would be to replicate pangu/taig jailbreak manually to get access to data_ark.plist for bypass
need to setup a forum/chat to migrate to, no point me doing this, sometimes famil

[2015-01-16 17:15] yazdf commented on #1
i think other stuff...
simulate the autentication between fake itunes and device.. using xamp and doulci files.. but putting right certs and decrypt keys.. i ll do my best looking and searching info for this..

[2015-01-16 17:18] yazdf commented on #1
@Azhturion i ll try research more, when i get some good info or a way to go, i ll post to all...i dont have nothing right now.. just waiting my fellow send me the certs files.. to study a way to work with this

[2015-01-16 17:21] Ganja47 commented on #1
@yazdf whatever floats your boat :-)
no, seriously, i just don't know enough about this stuff
badrsony kept talking about fairplay algo (very old and broken again and again, do some research) and machine key (mac address modified in some way) being important to modify and sign request.
dont know if that was hot air or real, make of it what u want

[2015-01-16 17:25] drmatrix commented on #1
@Ganja47
accurat i anderstand what that mean ,me i have one extra task  (snow) extrem snow i norway this year 3m and it need much time to clean that  with a complecated algo tools, lol , and im allways ready for migrate to any other place ,

[2015-01-16 18:25] HERO4903 commented on #1
ganja47 any idea how to find my phone trick to achieve jailbreak en 7.1.2

[2015-01-16 18:41] Ganja47 commented on #1
@drmatrix feel with you, i grew up in the german alps, i know what a nuisance snow can be
nowadays i live in scotland, sea level, literally. very wet and windy but at least no snow :-)

[2015-01-16 18:46] gsmnouri commented on #1
@Ganja47  what about bruteforce  solution ? if know email

[2015-01-16 19:13] RabbitRevenge commented on #1
How to Find the Authorization Token? Anyone find it in fiddler?

[2015-01-16 19:59] SoolMed commented on #1
@all hello every one, server-sid method will work only with valid certs / key
@Ganja47 tested windows 2012 r2 method to issue cert not work (need domain name) found a way tanks to TD-Activator for openssl.cnf file working on It
@drmatrix Salam Kidir a khay Tarik ca va, kidayr me3a chi berd ! DNS server is a great way to access fs system HTML5 weakness

and agree of migrate from this place.

[2015-01-16 20:05] drmatrix commented on #1
Med
Thank , but it need os envirenment,  idont have Mac or intel pross to use
vmware,  i hope someone can try
Le 16 janv. 2015 20:59, "Med" notifications@github.com a écrit :

[2015-01-16 20:12] SoolMed commented on #1
I do have a MacPro octa-core :)  just buy one first impression great experience thanks 3pple :) mail me

[2015-01-16 20:31] drmatrix commented on #1
Med
Salam to build hybrid ios webapp you need a mac, I have tried everything under windows but it works for android, and for ios during the deployment it gives  bugs

[2015-01-16 21:49] w8llson commented on #1
Hi guys who has tried this http://myicloud.info/bypass/siriport-icloud-bypass/ talking about the wifi DNS setting

[2015-01-16 22:26] ghost commented on #1
![image](https://cloud.githubusercontent.com/assets/9198119/5785461/db2876ba-9de7-11e4-8527-c14eb25f279d.jpg)
Works great

[2015-01-16 22:27] rainer2555 commented on #1
only for ...

[2015-01-16 22:28] ghost commented on #1
Yeah...

[2015-01-16 22:30] ghost commented on #1
There is iCloud locked users chat in it, where people discuss possible ways.

[2015-01-16 22:30] rainer2555 commented on #1
@all i´m back

[2015-01-16 22:32] HERO4903 commented on #1
all alguien sabe los riesgos de un bypass logrado con fuerza bruta

[2015-01-16 22:34] rainer2555 commented on #1
@all nice a knot from apple !!!

[2015-01-16 22:34] ghost commented on #1
@HERO4903 bricked device))

[2015-01-16 22:35] HERO4903 commented on #1
andythepooh  ok me lo imaginaba gracias

[2015-01-16 22:37] HERO4903 commented on #1
rainer2555 something new ?

[2015-01-16 22:38] rainer2555 commented on #1
htdocs is dead end ?. @all without mitm ?

[2015-01-16 22:40] rainer2555 commented on #1
;D

[2015-01-16 22:41] ghost commented on #1
@rainer2555 knot - there is a phrase in my language - what one man has created the other man can always break))

[2015-01-16 22:42] rainer2555 commented on #1
@HERO4903  sorry just monitoring !

[2015-01-16 22:43] rainer2555 commented on #1
@andythepooh amen ;D

[2015-01-16 22:43] HERO4903 commented on #1
rainer2555 ok bro no problem

[2015-01-16 22:47] rainer2555 commented on #1
@all I also struggling with the same shit

[2015-01-16 23:36] HERO4903 commented on #1
all http://vimeo.com/116805112
esto sera real

[2015-01-16 23:41] HERO4903 commented on #1
parece que de repente todos empezaron a lanzar su programa
icloudin
td activador
icloud kill

y de todos ninguno a dado solucion

[2015-01-17 00:27] Nad4 commented on #1
hehehe R4zer show off
![captura de ecra 2015-01-17 as 00 07 06](https://cloud.githubusercontent.com/assets/9027738/5786587/8ac43888-9ddf-11e4-8a44-7cfc920d375d.png)

[2015-01-17 00:37] fortad commented on #1
anyone can help me? i try to use Script.nse for get apple id owner but i dont have luck because i dont know the script to use , hlp pls

[2015-01-17 00:57] SoolMed commented on #1
@HERO4903 https://www.virustotal.com/en/file/63df6f96387f3bbd808f8999b0c34f77319592dfbc28855e78583e27715d903f/analysis/1421456048/

[2015-01-17 02:38] HERO4903 commented on #1
SoolMed ahora no estoy en casa en cuanto pueda checare  si es un virus gracias amigo

[2015-01-17 10:02] gsmnouri commented on #1
@fortad  how to use the script ? i have kali linux and working with this script too

[2015-01-17 13:20] fortad commented on #1
@gsmnouri i use nmap for windows in console nmap.exe, in the folder nmap/scripts found http-icloud-findmyphone.nse and http-icloud-sendmsg.nse but i dont know its works this scripts sorry for my english. PD: the sintaxis in cmd is nmap --script=http-icloud-sendmsg 192.168.x.xxx

[2015-01-17 15:00] gsmnouri commented on #1
@fortad this script works with mobileme server but the mobileme stoped service & transfered to icloud.com

[2015-01-17 16:15] fortad commented on #1
@gsmnouri ohh i dont know about this, maybe create a script?

[2015-01-17 17:09] g454ly commented on #1
@HERO4903 can you share the tools?

[2015-01-17 17:43] geekman28 commented on #1
![sans i-eietitre 2](https://cloud.githubusercontent.com/assets/9309566/5789763/a142e49e-9e78-11e4-957c-5b94d42464ba.jpg)
TD htdocs no works!

[2015-01-17 17:55] Ganja47 commented on #1
@geekman28 you're missing a cert or deviceactivation not modified for xampp

[2015-01-17 18:43] genhack commented on #1
Can u share full htdocs full working
Inviato dal mio dispositivo Samsung

-------- Messaggio originale --------
Da: alhy notifications@github.com
Data: 01/17/2015  18:09  (GMT+01:00)
A: TTMTT/iCL0udin iCL0udin@noreply.github.com
Cc: genhack agliarulo@hotmail.it
Oggetto: Re: [iCL0udin] Discuss1 (#1)

@HERO4903 can you share the tools?

—
Reply to this email directly or view it on GitHub.

[2015-01-17 18:56] Maaawww commented on #1
htdocs will never work again, that was in 2014.

[2015-01-17 19:03] Faroukd0t commented on #1
there's no new i see ^^

[2015-01-17 19:13] genhack commented on #1
@Faroukd0t  u have working folder?

[2015-01-17 19:19] Faroukd0t commented on #1
No I don't...

[2015-01-17 23:07] lordlame commented on #1
Has any one tried changing the server date and time to april 2014 and then using the old ssl certificate?

I'm pretty sure when an iPhone is erased that it syncs to an NTP server for its time ... Redirect it to your own DNS server and it should work, no? :)

[2015-01-18 08:08] g454ly commented on #1
Alternative Host method to unlock icloud

If you can not do a home Proxy server with XAPP its not much complicate but here is a simple method and it works as well. Only works with Lost mode devices , black screen, if you want a tip , do not restore the phone if you have a device with a message on the screen because its much easier to unlock . after you restore or even update by itunes you will jus

[2015-01-18 08:10] john403 commented on #1
masbro @g454ly ,, kalo via vps bs gk tuh
ada vps nganggur bs wat eksperimen metodenya

[2015-01-18 20:10] drmatrix commented on #1
@all
someone can try this to synconize

@Ganja47
by using syslog you see that is sql request from table artwork in MediaLibrary.sqlitedb

i have browse the db but no data because i have update the device

i need you suggestions befor you try
if you have 2 devices
A = the first one without icloud lock
B = and the second with icloud lock

download imazing it s older diskaid

http://imazing.com

the

[2015-01-18 20:45] Mocartxx commented on #1
No don't work, I explored option 4 month ago

[2015-01-18 20:47] drmatrix commented on #1
@Mocartxx
thanks , its just idea i wanna try

[2015-01-18 22:58] drmatrix commented on #1
@TTMTT
you do not give us a choice, just tell us one reason, "be a MAN"

[2015-01-18 23:02] Imadoh commented on #1
@drmatrix  :)

[2015-01-18 23:19] Maaawww commented on #1
http://idevice.eu.pn/imazing/ hahahahah so funny, stupid people.
There is no icloud solution, all is a lie.

[2015-01-18 23:25] drmatrix commented on #1
@Imadoh
iwa ytarrajal m3ana wala yakhraj barwando nichan

[2015-01-18 23:26] Imadoh commented on #1
@drmatrix wa yeeeeeeeeeeh ash ghadi dir hadshi li 3talah f souk ima wahed @badrsony wa looooooool

[2015-01-18 23:31] drmatrix commented on #1
@Imadoh
ana kangol hatta l9a.... fih rajla alors lwahad ykon rajal w maykhaf man walo

@Maaawww

hhh this is my post, I am writing this when I was eating diner , how they allready do that ?

[2015-01-19 03:58] BladiMar commented on #1
hahahahahahaha, wa 3alaaaam :+1:  mazaal walo alakhoot?

[2015-01-19 14:01] penguinunix commented on #1
@drmatrix he's already become "be a scAM" LOL

now he's wasting people's donated money, while he forgot that everybody will get payback for what they've done. he will loose lot more than people wasted on him
if you want, open a new donation page for hiring ISIS to hunt down @TTMTT .. :+1:

[2015-01-19 14:05] drmatrix commented on #1
@penguinunix
i dont understand what you mean ?
but if are you talking about me you must read good :)

[2015-01-19 14:15] ictbalie commented on #1
Hahahahahahhahahahahahahah
hiring ISIS to hunt TTMTT down. And don't forget his wingman badr_sony.

Op 19 jan. 2015 om 15:01 heeft penguinunix notifications@github.com het volgende geschreven:

[2015-01-19 14:41] drmatrix commented on #1
from me if someone think at he is super natural or superman and he can play with others trust , he just scam his self
for me 20$ is 20 cigarettes here in norway
 so he can count how many 20$ i smook by mounth
it s my storage for one mounth
![dsc_0086](https://cloud.githubusercontent.com/assets/6359599/5802039/65db8e18-9ff1-11e4-8262-097250bd57e1.jpg)

[2015-01-19 16:01] penguinunix commented on #1
@drmatrix no, not you, you know who's the man I'm talking about... if he is a "MAN" ..

[2015-01-19 21:02] Imadoh commented on #1
Anyone know how to bypass icloud on iphone 4 with network working !! thanks

[2015-01-19 21:08] SoolMed commented on #1
Good News finally defeat EV Cert :)

[2015-01-19 21:24] drmatrix commented on #1
@Imadoh
hado deja khdamt bihom , but follow step by step
https://www.youtube.com/watch?v=PiSeJJZtgOM
https://mega.co.nz/#!34lTjASb!HApDc9OI8qkmpDNsokCpLAmvdLmV5BYFLJCuariXpmc

[2015-01-19 21:33] kbulzo commented on #1
![img_1063](https://cloud.githubusercontent.com/assets/9167463/5808136/5c7f416e-a011-11e4-99ab-3f034e5a831a.JPG)

[2015-01-19 21:36] kvazarNS commented on #1
On 19.1.2015 22:08, Med wrote:

[2015-01-19 21:37] drmatrix commented on #1
@Imadoh
dont need to delete setup.app just rename it in case
get look here too
http://myicloud.info/i4bypass-with-carrier/

[2015-01-19 21:41] kbulzo commented on #1
![img_1063](https://cloud.githubusercontent.com/assets/9167463/5808219/44a63ef2-a012-11e4-8ee7-12b7af27e176.JPG)

[2015-01-19 21:51] kvazarNS commented on #1
great Kbulzo. :)) Congrats

[2015-01-19 22:56] melsy001 commented on #1
@kbulzo i have made it 2 bro :( just wi-fi now
![image](https://cloud.githubusercontent.com/assets/10366329/5809226/ab8e7e26-a036-11e4-9712-42212dd13257.jpg)

[2015-01-19 22:57] Imadoh commented on #1
@drmatrix no network a khoya
guys i need <<<data_ark.plist>>> of an iphone 4 unlocked please not locked thank you

[2015-01-19 23:03] drmatrix commented on #1
@Imadoh
ana khdam liya with network kan 3andi iph 4 globale
chouf hna aussi
https://www.youtube.com/watch?v=VOo5dk79kj4

[2015-01-19 23:03] melsy001 commented on #1
@Imadoh  will never work with sim :( ! you need a real activation for that !  after you make the baypass do not let itunes to detect unactivated  !! take off the usb start the phone activate without connecting to itunes ! enter icloud details , than open icloud on pc  !  lock and earse the iphone , than try to reset again with itunes
GL

[2015-01-19 23:05] Imadoh commented on #1
data_ark.plist

[2015-01-19 23:06] melsy001 commented on #1
wait ! a secc

[2015-01-19 23:07] drmatrix commented on #1
@Imadoh
check the second link it s same method that melsy001 talk about you need the real activation

[2015-01-19 23:07] Imadoh commented on #1
@drmatrix je les ai essayer les deux le premier diyal Gadgetfucker and it just bullshit the second one you need an unlocked data_ark.plist
@melsy001 can you explain more better please thanks

[2015-01-19 23:09] melsy001 commented on #1
@Imadoh   http://myicloud.info/update-iphone4/ !!! look here im with ipad not with pc you will find what ur looking for

[2015-01-19 23:11] drmatrix commented on #1
@Imadoh
this its with data_ark
http://www.mediafire.com/download/64bpk63ys28c5e6/issamwap.zip

[2015-01-19 23:14] melsy001 commented on #1
@Imadoh  if u have official sim lock from operator u wil not unlock the sim !

[2015-01-19 23:15] Imadoh commented on #1
@drmatrix thats for an unlocked iphone 4!!
@melsy001 i have an unlocked iphone 4

[2015-01-19 23:18] drmatrix commented on #1
@Imadoh
ghadi ykhassak factory unlock it depend whats operator

[2015-01-19 23:20] melsy001 commented on #1
@Imadoh ok than just follow the steps GL :+1:

[2015-01-19 23:24] ictbalie commented on #1
Create a new topic. Far away from icloudin.

[2015-01-19 23:37] drmatrix commented on #1
all
i have create that forum everyone can registrate
http://findit.freeforums.net/

[2015-01-19 23:58] drmatrix commented on #1
@all
who want manage the forum with me ?

my email tdriouech@gmail.com

[2015-01-20 00:15] Imadoh commented on #1
@drmatrix @melsy001 Didnt work at all

[2015-01-20 00:18] drmatrix commented on #1
@Imadoh
nta f ICQ ?

[2015-01-20 00:59] Nad4 commented on #1
sometimes i use myicloud.info forum here: http://myicloud.ml/

[2015-01-20 01:31] kbulzo commented on #1
@TTMTT left winged group

[2015-01-20 01:54] kbulzo commented on #1
know what I think ?! he could at least say something, at least .what I think

[2015-01-20 06:53] ictbalie commented on #1
Ttmtt mat not react but seems to be every day online according his social media. So he probably is reading everything along while checking his paypal account.

[2015-01-20 15:07] yazdf commented on #1
You guys see this: https://twitter.com/AquaXetine

duolci team will release the source code for bypass here = https://github.com/Maroc-OS/doulCi

[2015-01-20 15:12] Maaawww commented on #1
Also merruk web says that:
"doulCi Bypass Server source codes Cleaned, and soon in github.org, with the examples of codes you can build your own custom bypass server and know how-to activate iCloud with doulCi. Also! We are going to publish two new write up's about bypass hacks on this website."

Can we build our own custom bypass server? It's patched.

This is real?

[2015-01-20 15:21] yazdf commented on #1
i hope so.. ^^

[2015-01-20 15:44] HERO4903 commented on #1
ha doulci ya no le creo nada

[2015-01-21 07:18] omnilatic commented on #1
Hero sabes que ? Que yo ya no me creo nada de ninguno xD por que TTMTT dijo que volvería después de dormir y parece ser que se ha quedado en coma por que no vuelve... aquí todo el mundo tiene el bypass pero no pueden soltarlo por no se que historias... en fin ...

[2015-01-22 00:02] kbulzo commented on #1
and there friends days pass and nothing anyone has idea for new project ??

[2015-01-22 00:11] kbulzo commented on #1
M1n@cr1ss ‏@minacrisOficial  10h10 hours ago
Me da risa ver como siguen esperando bypass, eso no es posible de manera remota entiendan de una buena vez.!!

[2015-01-22 01:16] SoolMed commented on #1
@kbulzo Have you bypassed any idevice in ios 8

[2015-01-22 01:17] kbulzo commented on #1
do not

[2015-01-22 01:19] SoolMed commented on #1
can we talk in mail naimmhb@gmail.com

[2015-01-22 19:10] omnilatic commented on #1
Veo que esto ha muerto no ? Aquí ya nadie comenta nada.... bueno era demasiado bonito para ser verdad, nos la han metido doblada, sobre todo a los que han donado dinero.

[2015-01-22 19:11] willgabriel commented on #1
bypass is over, adios amigos.

[2015-01-23 04:34] SoolMed commented on #1
@all : I need the new ones of this Certs
iPhoneActivationca
iPhoneDeviceca
iphoneca
any one could help I really appreciate It.

@Venox could you past this cert see what I can do with https://twitter.com/Ven0x/status/555054050325319680
here is my mail naimmhb@gmail.com

[2015-01-23 10:48] h00d3d commented on #1
@kbulzo check ur mail? could u unlock io7 successfully? i just want to unlock this fcking 4s

[2015-01-24 15:15] chafka commented on #1
https://www.youtube.com/watch?v=NcfJXpshwNg#t=224

[2015-01-24 21:21] 3ruceW commented on #1
Ehi, everybody left this forum?
Has icluod bypass discussion moved elsewere or just lost any reasonable hope of success?

[2015-01-24 21:42] ghost commented on #1
@3ruceW Not moved as far as I know, it's just like we have lost our hope in a bypass at this moment. The most of people were here because they believed in @TTMTT that's all...

[2015-01-24 22:28] florindmtr commented on #1
https://www.youtube.com/watch?v=NcfJXpshwNg#t=224
This actually works even with 8.1.2, but it just shows you the icons, without any of the apps working.

[2015-01-24 23:10] SoolMed commented on #1
@all confermed bypass is possible I've do several unit on ios 7 not 8 and confirmed iCloudDNS Bypass on ios even 8.1.2 but only to sprinboard, did It my self on iPad mini 8.1.2
I have EV certs of Servers but need this the new ones of this Certs of :

iPhoneActivationca
iPhoneDeviceca
iphoneca

any one could help I really appreciate It, and It could revive server sid activation

[2015-01-24 23:12] florindmtr commented on #1
@SoolMed What's your email?

[2015-01-25 00:11] SoolMed commented on #1
naimmhb@gmail.com

[2015-01-25 10:19] omnilatic commented on #1
Lo que has puesto del video funciona pero solo la primera vez y aparte de eso una vez en el menú del iphone no se puede hacer nada, si entras en alguna aplicación el iphone peta y tienes que apagarlo

[2015-01-25 12:08] Nad4 commented on #1
@all can anyone understand this method now i believe bypass must be closer then ever, this video use many methods we try here  https://www.youtube.com/watch?v=rRhzkL51nNI#t=139

[2015-01-25 12:08] Nad4 commented on #1
thats not give up friends

[2015-01-25 15:01] h00d3d commented on #1
does it really show owner's mail? please confirm

[2015-01-25 19:57] adeee3eb opened #2 "@all"
عندي 4 طرق وكان ودي اعرظها لكم بس في زنوات هنا حاشر لنفسه يقلطع في كل شي

[2015-01-25 19:58] adeee3eb commented on #2
انت فاشلين واغبياء

[2015-01-25 19:59] adeee3eb commented on #1
عندي 4 طرق وكان ودي اعرظها لكم بس في زنوات هنا حاشر لنفسه يقلطع في كل شي

[2015-01-25 20:00] adeee3eb commented on #1
انتم اغلياء جدا

[2015-01-25 20:00] adeee3eb commented on #1
قصدي اغبياء

[2015-01-25 20:01] adeee3eb commented on #1
لانكم تتباهو وانتم زنادغه

[2015-01-25 20:01] adeee3eb commented on #1
والثغرات التي مع مجد ومدري من لقد ارسلتها الى شركه apple

[2015-01-25 20:15] adeee3eb commented on #1
@All     I want your help, I've got many holes penetrating inside the apple system

[2015-01-25 21:41] geekman28 commented on #1
https://www.youtube.com/watch?v=ZA9e1cvrpNU&feature=youtu.be

[2015-01-26 01:32] kbulzo commented on #1
![image](https://cloud.githubusercontent.com/assets/9167463/5894317/d7a8ce26-a4e1-11e4-8695-8cf95e3c2b83.jpg)
![image](https://cloud.githubusercontent.com/assets/9167463/5894318/d7b26544-a4e1-11e4-9678-305050b84cda.jpg)

[2015-01-26 01:40] kbulzo commented on #1
![d7b26544-a4e1-11e4-9678-305050b84cda 1](https://cloud.githubusercontent.com/assets/9167463/5894345/2c43cc52-a4eb-11e4-8172-495ebc74a630.jpg)

[2015-01-26 02:31] kbulzo commented on #1
![img_1434](https://cloud.githubusercontent.com/assets/9167463/5894526/245bc15c-a4f0-11e4-9649-136d4523dad2.JPG)

[2015-01-26 02:33] BenjiBth commented on #1
@kbulzo how you do it bro ? can you tell me

[2015-01-26 02:39] fortad commented on #1
anyone have a htdocs with itunes bypass for use security backup?

[2015-01-26 05:39] Fafaiya commented on #1
@kbulzo : please ... give me tutorial wanipiro1986@gmail.com

[2015-01-26 10:49] yazdf commented on #1
@kbulzo cara, se vc não vai ajudar os outros, mostrando como fez? pra que postar somente as imagens?

[2015-01-26 10:50] w8llson commented on #1
@kbulzo hi bro i have iphone 4S too with ios 8.1 can you help me please? My e-mail w8llson@gmail.com and my skype  wilson.ulrick

[2015-01-26 10:57] jxosdev commented on #1
@all how do you proceed to get emoticons button. On my iphone 4S i just have the globe button beside the space bar.

[2015-01-26 11:06] melsy001 commented on #1
@jxosdev  me 2 :(

[2015-01-26 11:07] melsy001 commented on #1
@kbulzo  lost-mode ?????

[2015-01-26 12:06] Ganja47 commented on #1
@jxosdev @melsy001 what ios version ? ipad 7.1.2 had only the globe, after update to 8.1.2 it's there. crash to springboard works with emoticons but only working app is facetime

[2015-01-26 12:14] funkyman commented on #1
@Ganja47 did it show the username in facetime?

[2015-01-26 12:33] h00d3d commented on #1
@kbulzo Dont me greedy. teach what u can. Or else just dont post anything if u are already one of those fucking greedy devs. u know here people want a solution not just proving pics

@All who wants step by step guide how to get owner's username? i saw those emoji&dns videos and knew how to do it without pc (u need two tethered wifi via android phones). if u have not got emoji on ur keyboard, just

[2015-01-26 12:38] h00d3d commented on #1
@adeee3eb send me ur exploits to d.1.2@bk.ru i will have a look to them

[2015-01-26 12:45] funkyman commented on #1
I've got it to crash at different places including with a blank wallpaper and non responsive activate menu, a lot of the time it appears 2 copies of the activation screen are running simultaneously.
I don't have any lost mode devices, does it have to be lost mode?

[2015-01-26 12:49] funkyman commented on #1
@h00d3d a step by step guide on the username would be great.

[2015-01-26 13:33] Ganja47 commented on #1
@funkyman no owner email but device was restored, might show on lost/erased not restored
i posted how to get apple id email address even on restored devices before if that's what you need
bypass itunes interface with any htdocs that do, start syslog_relay or use cinject to watch syslog
then hit backup in itunes interface, you'll a see connection attempt in syslog showing a numerical id
this numeri

[2015-01-26 13:37] funkyman commented on #1
@Ganja47 thanks, I will have a look.

[2015-01-26 13:39] Ganja47 commented on #1
@funkyman you're welcome, this is a proven method to get the id, works everytime

[2015-01-26 13:48] 3ruceW commented on #1
@Ganja47
Hi, I know the owner's email of a locked/stolen device, is any possibility to try to match it to the numeric email and try to decode the way it's generated?

[2015-01-26 14:03] funkyman commented on #1
@Ganja47 What does the numeric id look like? And would you know why IPCU only shows "==== Attached at 26/01/2015 11:59:02 PM ====" and no log anymore? lol

[2015-01-26 14:56] Ganja47 commented on #1
@3ruceW don't think it's generated from the mail address, more like customer number
@funkyman it's a ten digit (i think) numeric value, take this and add the @icloud.com and you're good

[2015-01-26 14:58] SoolMed commented on #1
@Ganja47 I have EV Certs pass your mail

[2015-01-26 14:59] Ganja47 commented on #1
ganja4711@googlemail.com
i got the albert.apple.com EV cert inlcuding private key from td-activator pack
still not of help though, need new fairplay data and iphoneca cert

[2015-01-26 15:05] h00d3d commented on #1
@Ganja47 what if its gmail? how does numeric id shows it? because i have gmail attached phone. so i didnt try that method

[2015-01-26 15:08] Ganja47 commented on #1
@h00d3d numeric_id@icloud.com is valid username to log in or to reset password on icloud.com
don't know if emails to this address will get relayed by apple to the gmail account, it's a possibility though

[2015-01-26 15:22] jxosdev commented on #1
@Ganja47 mine is iphone 4S ios 7.1.2 and no emotij on the keyboard. i'll try your method to get the owner's id.thanks for sharing
@h00d3d i'll try chat room to get emotij. and i'm interested in step by step guide how to get owner's username. this is my mail address if you prefer sharing in private jxosdev@gmail.com

thanks guys for sharing

[2015-01-26 15:30] Ganja47 commented on #1
@jxosdev 4s and ipad 2 are basically same device, same processor, just baseband missing
emoticons appeared as soon as updated to 8.1.2

[2015-01-26 15:33] gsmnouri commented on #1
@Ganja47  any solution for bruteforce email gmail  or script fake send login apple id ?

[2015-01-26 15:37] w8llson commented on #1
Hi guys. My iphone is not stolen, i bought it second hand. The icloud account inside is my own but i've forgotten the password so by trying many times apple said that the account is deactivated. But i didn't add a second email address to reinitialise it. I called apple but only one security questions answer match and they said they can't do nothing to help me.it's an iphone 4S the icloud account i

[2015-01-26 15:53] Ganja47 commented on #1
@gsmnouri not my kinda game, sorry

[2015-01-26 16:07] HERO4903 commented on #1
@h00d3d me interesa el tutorial paso por paso para conseguir el correo del propietario podria compartir por  favor eduardo.araujo.gonzalez@hotmail.com

[2015-01-26 17:48] saadidine commented on #1
gys i have this infos if does help any one :
1. Go to the activation screen
2. Type something random in email field
3. Select all text and tap "Define"
4. Tapping "Manage" redirects phone to
   http://mesu.apple.com/assets/com_apple_MobileAsset_DictionaryServices_dictionary2/com_apple_MobileAsset_DictionaryServices_dictionary2.xml
   ( as seen in Fiddler )
   ( downloads go to ex.
   http://appldn

[2015-01-26 18:24] oncomangus commented on #1
@Ganja47 heyyy bro how to look apple id from device...? just want to know email apple id thnks

[2015-01-26 18:31] melsy001 commented on #1
@Ganja47  iphone 4s lost mode ios 7.1.1

[2015-01-26 18:31] melsy001 commented on #1
@Ganja47  and tnx for replay

[2015-01-26 18:38] Ganja47 commented on #1
@melsy001 you get the emoticons on 8.1.2 but if you're lost mode there's other ways to get into
@oncomangus just check syslog while trying to backup on bypassed itunes interface

[2015-01-26 18:40] oncomangus commented on #1
@Ganja47 need htdocs or....? can u explain in my mail oncomangus13@yahoo.com thnks

[2015-01-26 21:10] adeee3eb commented on #1
hi

[2015-01-26 21:15] Assasin0 commented on #1
@saadidine can you video tut ?

[2015-01-26 21:52] drmatrix commented on #1
ref
http://iphoneunlockforum.com/vbb/f189/icloud-activation-lock-bypass-thread-closed-127/index35.html

how we can reuse that ?

---

`Below is a description of the technology, which can be used to decipher the protocols that communicate with services iOS Apple (AppStore, iCloud, etc). This technique may be useful for understanding the operation of services, and for an exhaustive answer to the que

[2015-01-26 21:57] BladiMar commented on #1
@drmatrix khoya 7awal 3lina :D had chi yjeeb ch9i9a laraas :p
@SoolMed khoya chi jadid?o ykoon mafhoom? :D

[2015-01-26 22:01] drmatrix commented on #1
@BladiMar
it s not easy theris many Pro developers in apple staff they dont joke about security part :) they have make it very complicated or imposible til now to break ;)

[2015-01-26 22:02] BladiMar commented on #1
@drmatrix  i know bro i know :( but nothing is impossible :)

[2015-01-26 22:05] drmatrix commented on #1
yes if we are ALL for one ;) but rightnow you can feel is ONE for all ;)

[2015-01-26 22:08] Faroukd0t commented on #1
there is no software Bypass anymore ^^ resume your life and keep going...

[2015-01-26 22:11] BladiMar commented on #1
@drmatrix sorry about that bro," allah galeb a taleb " :( i dont have the right knowledge to help you on this   :(
ana ybanliya geer bnadem yjbar el7al lraso hna o yaslat,myab9aach tasma3 7aso mazaal :(

[2015-01-26 22:15] drmatrix commented on #1
@Faroukd0t
there is always holes even for the bigest informations systems , and nothing come just like that ;)
@BladiMar
here its 129 participants , i hope that we help eachother .

[2015-01-26 22:24] drmatrix commented on #1
more proof here
http://blog.dinosec.com/

[2015-01-26 22:49] kbulzo commented on #1
@TTMTT @badrsony @HarisDevs  you are seeing this ???

[2015-01-26 22:55] kbulzo commented on #1
https://www.youtube.com/watch?v=1k0YaxNRhq0&feature=youtu.be

[2015-01-27 00:39] funkyman commented on #1
If anyone's looking for something that logs an IOS8.x device in Windows there is iTools. It's in Chinese, (I don't think they make an English version anymore) but I just went to the tools tab and clicked the green page looking icon.

http://www.itools.cn/

[2015-01-27 03:10] funkyman commented on #1
@Ganja47 so there isn't some header or something before the ID? Browsing through log files all I am seeing (that is the same number) is this: "662DABC8-19C1-4D62-B8DC-2AD1DC984A9C", that occours around the ActivationInfo and FairPlayCertChain keys.

[2015-01-27 07:24] Mocartxx commented on #1
funkyman yep its header device to server and itune to device{ DC protocol  verified user or device to server ID}

[2015-01-27 11:29] h00d3d commented on #1
" how to activate emoji on ios7"
1.choose chineese language on hello screen
2.then u will be asked to choose each of 5 items. Choose first and last.
3. than get back to hello screen and choose ur language
4. when editing proxy server, tap on globe button and u will see emojis!

[2015-01-27 11:31] yazdf commented on #1
hey guys, icloudin release your codes ?

2015-01-27 9:29 GMT-02:00 h00d3d notifications@github.com:

[2015-01-27 11:39] funkyman commented on #1
@yazdf its a scam dude, nobody has anything except maybe http://r4z3r.net/ soon.

[2015-01-27 13:17] jxosdev commented on #1
does anyone know how to come back to language screen. i'm stuck at wifi selection screen and not able to come back. Even after many crash.

[2015-01-27 14:50] Nad4 commented on #1
restore back

[2015-01-27 14:51] h00d3d commented on #1
@jxosdev press home button then select start over

[2015-01-27 14:58] jxosdev commented on #1
home button + start over doesnt work. it just stays on the wifi screen. may be i'll try to do it in an area where there's no wifi signal.
@Nad4 i'll try that first before restoring. this will be my last option

[2015-01-27 15:10] megarock commented on #1
https://www.youtube.com/watch?v=FhwLTQAIHQU

[2015-01-27 15:42] kbulzo commented on #1
works even

[2015-01-27 17:13] h00d3d commented on #1
kbulzo my phone on springboard and itunes is asking me to restore. which is exactly the same thing as ur pics. what do you do then?

[2015-01-27 18:41] melsy001 commented on #1
@Ganja47  what other ways ?

[2015-01-27 18:44] Ganja47 commented on #1
@melsy001 crash through barney activation help or dns bypass
lost device still has the certs and is in activated state afaik, so if you crash to springboard you can jailbreak and ssh into device

[2015-01-27 18:46] melsy001 commented on #1
@Ganja47 yeeee tnnx i have tryed that way not working

[2015-01-27 18:47] Maaawww commented on #1
TD Activator Server is OPEN. https://twitter.com/tahadergan

[2015-01-27 18:49] melsy001 commented on #1
@all and just for information the devices with lock screen pascode has any way to bypass the lock screen ?

[2015-01-27 18:49] lblxh3 commented on #1
I tried，it is just open itunes. it is fake

[2015-01-27 18:57] Ganja47 commented on #1
@melsy001 ip-box :-)
http://www.fonefunshop.co.uk/cable_picker/98483_IP-BOX_iPhone_Password_Unlock_Tool.html

[2015-01-27 19:06] jxosdev commented on #1
No way to comeback to language screen. I  think I have to restore my
ip4s finaly.

[2015-01-27 19:07] Ganja47 commented on #1
@jxosdev i restored my ipad2 3 times since playing with emoji hack, really fucks up the system somehow
syslog says crash happens right after loading/trying to load a png, think it actually corrupts flash bits

[2015-01-27 20:17] HERO4903 commented on #1
all parece que el hackeo emoji te muestra en facetime el correo del propietario precisamente hoy que hay version 8.1.3

[2015-01-27 20:23] omnilatic commented on #1
Eso es cierto HERO ? por que yo al usar FaceTime me pidió que pusiera el correo y el password en ningun momento me mostró el email del anterior propietario.

[2015-01-27 20:38] HERO4903 commented on #1
omilatic aun no lo he probado pero el video que suben muestra el correo

[2015-01-27 23:08] melsy001 commented on #1
@kbulzo on what way you have done on ios 7  ?

[2015-01-28 23:26] mapjii commented on #1
hi guys, any news???

[2015-01-29 21:52] Nad4 commented on #1
Unlock Icloud so far the real method 2015 .
If you have iphone 4s / 5 / 5c / 5s / 6/6 plus
1 - after 3.453 Virus successfully acquired
2- and after 5 Hits and 20 survay .
3 - you know some one who have a friend and say they know a unlock guy that knows someone, but nothing really know shit.
4 - Expecting Min @ criss give me the lucky free imei. we know he works in a apple shop in Panama.
5 - Waiti

[2015-01-30 00:03] SoolMed commented on #1
@Nad4 pass your mail

[2015-01-30 00:21] funkyman commented on #1
@Nad4 You could add, donating $10 to some scammer.

Instead of travelling to Narnia you could just pay for it, not cheap, but the alternative is owning an annoying paperweight.
I paid http://www.imei-server.com and got account name and contact details for 2 phones at least, may consider paying to get another one unlocked.

[2015-01-30 00:34] funkyman commented on #1
NAME NAME 备用 Apple ID（登录别名） : NAME@icloud.com Apple ID NAME@hotmail.com 备用 Apple ID（登录别名） NAME@icloud.com 地址和电话 地址 ADDRESS日间联系电话 0-00-0000000 夜间联系电话 不适用 归档电子邮件地址 NAME@hotmail.com - 已验证 (主要) NAME@hotmail.com - 已发送验证电子邮件 (救援) NAME@icloud.com - 已验证

NAME@hotmail.com 全名 : name 地址   ADDRESS 日间联系电话  0-00-00000000 夜间联系电话    不适用 归档电子邮件地址 name@hotmail.com - 已验证 (主要) Who was your first teacher? Where was yo

[2015-01-30 00:46] ghost commented on #1
@funkyman and how did you got that info? I want to get it too from mine to contact the owner since mine is second hand.

[2015-01-30 00:47] funkyman commented on #1
@def4lt I paid for it.

http://www.imei-server.com/product-818-apple-icloud-id-restore-by-imei-find-service-recovery-account-id.html

Note: the site is Russian and their contact is Chinese.

I also tried unlocknest, but they screwed up my orders, I did get a refund tho.

[2015-01-30 00:50] funkyman commented on #1
Had to order IMEI information first for 1 of them, probably are supposed to do that with all.

serialNumber : 1234567890
partDescription : IPHONE 5S SILVER 16GB-AUS
imeiNumber : 1234567890
initialActivationPolicyDetails : Australia Optus Unlocked Policy
initialActivationPolicyID : 1234
unlocked : true
unlockDate : 02/07/14
warrantyStatus : Apple Limited Warranty
coverageStartDate : 02/07/14
covera

[2015-01-30 00:59] funkyman commented on #1
If you need UDID for an order and are locked out of the phone, I just used iPhone Configuration Utility and got the UDID from there, its labeled "Identifier:"

[2015-01-30 10:19] Mika3l commented on #1
![screen shot 2014-12-27 at 2 47 28 pm](https://cloud.githubusercontent.com/assets/9485256/5974161/b89d1eec-a879-11e4-9f47-49a45bfa8b25.png)
THIS IS REAL SOLUTION HARDWARE METHOD CHANGE THOSE 3 IC's or read & write with EEPROM programmer + some soldering skills and that's it neither doulci nor razor or any mother fucker that use hopeless ppl discuss this not software methods

[2015-01-30 10:27] funkyman commented on #1
@Mika3l That is a solution, it is not practical tho. Do you know anyone who has done this?

[2015-01-30 10:51] funkyman commented on #1
@Mika3l It's costly and risky.

http://www.beijingiphonerepair.com/store/#!/Hardware-Unlock/c/807125/offset=0&sort=normal

Might as well pay for an official factory unlock.

[2015-01-30 15:42] Mika3l commented on #1
@funkyman not that expensive , ye risky ...... you have to break down few ip 4s to learn how to use hot air but ..... this is the way and parts are cheap here http://www.aliexpress.com

[2015-01-30 15:53] funkyman commented on #1
@Mika3l I'd rather pay to get it unlocked or sell it and buy an unlocked one on eBay. How about iPhone 5, 5s, 6? I don't think it is economical or worth the risk to attempt changing the IC's.

[2015-01-30 17:41] Ganja47 commented on #1
i sorted one iphone 5 and one iphone 5s this way
took good imei chips from waterdamaged pcb's, worked a treat on both
don't like hot air though, got a ACHI infrared bga rework station here for this

[2015-01-30 17:50] Mika3l commented on #1
Baseband ic and ram ic are easy the hard work is with Nand cuz u can damage cpu overheat there is CNC machine for removing....... just hint for those which want to try ..... not to wait , promises  , coming soon .... gonna be free ....and after all surveys, paypal and so on and on

[2015-01-30 17:58] Ganja47 commented on #1
not that much a problem with dark infrared bga station
make a stencil from tinfoil to cover all but the ic you want to remove/replace
just important to setup good profile for rework machine, most people damage pcb when trying to remove ic while not hot enough, bad profiles, bad sensors -> ripped off tracks

[2015-01-30 20:49] adeee3eb commented on #1
@al3andaleb hi

[2015-01-31 16:48] rAbd0u commented on #2
نريد واحدة فقط من هذه الأربعة
ساعدنا أخي

[2015-01-31 16:50] rAbd0u commented on #2
rafienet@yahoo.fr

[2015-02-01 04:09] #2 closed, assigned to nobody

[2015-02-01 16:03] rawon-tuyul commented on #1
https://www.youtube.com/watch?v=hoHx2rmz_Xc&feature=youtu.be just proof n i dont care u says im fake... only test 1 idevice in ios 8.1.2 ,   rangurus nek dioneke palsu seng penting work

[2015-02-01 16:10] syarwo commented on #1
carane piye pakde? nganggo kartu opo kui :)

[2015-02-01 16:18] rawon-tuyul commented on #1
im delete now

[2015-02-01 16:23] rawon-tuyul commented on #1
rsim lawas

[2015-02-01 16:26] Azhturion commented on #1
@rawon-tuyul Hi, can you share the instructions for do it please?

[2015-02-01 17:04] ictbalie commented on #1
Why deleted so fast?

Op 1 feb. 2015 om 17:03 heeft dead notifications@github.com het volgende geschreven:

[2015-02-01 20:33] g454ly commented on #1
@rawon-tuyul bisikin caranya donk bro , buat sesama orang indo

[2015-02-01 20:35] g454ly commented on #1
@rawon-tuyul bisikin caranya donk bro , buat sesama orang indo atau kirimin lewat email aja bro alhy.jiee@gmail.com

maturnuhun bro

[2015-02-01 21:20] weneedhelp commented on #1
Hahahaha just one word for those who says i can ! And they come here make an comment and leave ! read this well ! ur such a mother fucker

[2015-02-01 21:23] melsy001 commented on #1
@rawon-tuyul  we need help broo not ur video proof-s

[2015-02-02 07:02] jxosdev commented on #1
@all does anybody know how to get owners mail like owner@gmail.com, not the id@icloud.com ?
please tell us how to proceed. Thanks.

[2015-02-02 08:18] ictbalie commented on #1
How do these guys work that claim to unlock bypassed idevices with only imei??

[2015-02-02 08:32] ictbalie commented on #1
Lol

https://twitter.com/crokom/status/561842816754929665

[2015-02-02 09:41] funkyman commented on #1
@jxosdev You can just pay to get the info, like I did. Probably won't do any good either, might as well just pay to have it unlocked.

http://www.imei-server.com/product-818-apple-icloud-id-restore-by-imei-find-service-recovery-account-id.html

[2015-02-02 09:43] jxosdev commented on #1
ok thks for the info.

[2015-02-02 16:04] melsy001 commented on #1
i wos lucky this time 4 digit pascode but no icloud id
![img_0126](https://cloud.githubusercontent.com/assets/10366329/6003651/8582b3b0-aafd-11e4-9997-2ca273d0dbfa.JPG)

[2015-02-02 17:11] Ganja47 commented on #1
@melsy001 great isn't it ? had this ipad mini, guy that dropped it dead/not charged  said right away he knows about activation lock crap and all he wants is £ 20 for spare/repair
gave the guy his money, charged it up, no passcode, no cloud id :-)

[2015-02-02 19:01] melsy001 commented on #1
@Ganja47  i just made it an full restore from itunes and now i have open it !

[2015-02-03 00:09] Nad4 commented on #1
new activator but for sure is fake but can some one check
https://mega.co.nz/#!sJtyjKjJ!y_CPiI6OSMn9JP9j7XxQhRJZ6de09hwH793Zzq18Crs

[2015-02-03 02:00] melsy001 commented on #1
@Nad4  don't trust this m f

[2015-02-03 02:03] melsy001 commented on #1
@Ganja47  i wos lucky with iphone 6 but the  ipad is still on 4 digit pascode and find my iphone is on !

[2015-02-03 04:50] rawon-tuyul commented on #1
![image](https://cloud.githubusercontent.com/assets/9677731/6014625/c62b3f40-aba2-11e4-8f8b-a5e366b07ab1.jpg) to all i use rsim n modified i dont know  this method working on all device or not ,because i dont have more device to test.. if u think im fake i dont care bro... respect from indonesia maturnuwun

[2015-02-03 04:52] rawon-tuyul commented on #1
someone here lets make new discuss dont wait for ttmtt he is fuck...

[2015-02-03 05:23] john403 commented on #1
cak @rawon-tuyul....... bisik2 tho carane

[2015-02-03 06:54] sniperegy opened #3 "Discuss2"
R-SIM Bypass

[2015-02-03 06:55] sniperegy commented on #1
new discuss  https://github.com/TTMTT/iCL0udin/issues/3

[2015-02-03 06:56] sniperegy commented on #1
@rawon-tuyul  i active one device by rsim,
  respect

[2015-02-03 06:57] syarwo commented on #3
new hope

[2015-02-03 07:04] sniperegy commented on #3
yes new hope

[2015-02-03 07:25] trapcode commented on #3
ah bypass r-sim, dapatnya dimana tuh?

[2015-02-03 07:50] albanodesign commented on #3
Maybe he had no icloud but unactavated screen
I cant try now but which r-sim did he used

[2015-02-03 07:59] sniperegy commented on #3
i have more r-sim

[2015-02-03 08:00] trapcode commented on #3
@sniperegy so how can i get it? i some models including iphone 4

[2015-02-03 08:02] jxosdev commented on #3
he said, he modified something. but which way and how ? on which rsim ?

[2015-02-03 08:48] R0of commented on #3
# Haha ah a aha ha ha ha hah  Apple Rulez))

[2015-02-03 09:46] phuongdlsl commented on #3
tell us step by step how to bypass ip??? :)

[2015-02-03 10:14] Fafaiya commented on #1
@rawon_tuyul : bagi dung mas sesama orang indonesia :)

[2015-02-03 10:53] willgabriel commented on #1
@rawon_tuyul Hi bro, iphone on lost mode or no?

[2015-02-03 10:54] willgabriel commented on #3
yes

[2015-02-03 12:48] lblxh3 commented on #3
how？

[2015-02-03 12:59] willgabriel commented on #3
rsim, ok, but iphone on lost mode or no?

[2015-02-03 15:44] sniperegy commented on #3
i wait @rawon_tuyul
i active iphone 5 with r-sim and clean imei

[2015-02-03 16:30] slav4o commented on #3
so new hope for icloud :) maybe this one will be the one...

[2015-02-03 16:56] willgabriel commented on #3
@sniperegy this mode works?
![icloud jpg copia](https://cloud.githubusercontent.com/assets/8890867/6024785/15b7708c-aba4-11e4-9239-b83e7a581385.jpg)

[2015-02-03 17:19] HERO4903 commented on #3
Y cuanto por el RSIM?

[2015-02-03 17:56] sniperegy commented on #3
works

[2015-02-03 18:02] willgabriel commented on #3
r-sim10 right?

[2015-02-03 18:08] sniperegy commented on #3
i work r-sim mini

[2015-02-03 18:09] willgabriel commented on #3
ios 8?

[2015-02-03 18:10] sniperegy commented on #3
7 , 8

[2015-02-03 18:33] Ryahuman commented on #3
what this process? list on steps, please.. but is icloud locked?

[2015-02-03 18:36] genhack commented on #3
I have rsim 10 but i  can bypass only sim carrier lock ...  how can rsim bypass icloud?

[2015-02-03 18:40] willgabriel commented on #3
r-sim mini

[2015-02-03 18:53] sniperegy commented on #3
wait @rawon_tuyul

[2015-02-03 19:24] Ryahuman commented on #3
what ?

[2015-02-03 19:25] Ryahuman commented on #3
bro, have a skype ? give me a ID to i'm add you (:

[2015-02-03 19:33] zokafleka commented on #3
http://www.doulci-registration.com/

[2015-02-03 19:38] willgabriel commented on #3
lol

[2015-02-04 02:26] BenjiBth commented on #3
cak @rawon_tuyul bagi2 info dong

[2015-02-04 02:35] melsy001 commented on #1
@rawon-tuyul  bro u can help or u just give ur  proof-s over here ?

[2015-02-04 04:38] g454ly commented on #1
@rawon-tuyul kl Rsim mini bs ngga bro
sekalian bisikin caranya bro

[2015-02-04 04:44] g454ly commented on #3
@rawon-tuyul @sniperegy pake Rsim mini caranya gmn bro ?
bisikinnya di whatsapp aja bro biar enak

089618727996

[2015-02-04 16:26] sniperegy commented on #3
http://www.mediafire.com/download/5aq2am52wjtw0yq/iCloud+unlocking+.rar

Send email from iCloud and Gmail/Yahoo/Outlook/live/Hotmail..etc with SMTP authentication

[2015-02-04 16:27] sniperegy commented on #3
i have this error

5.5.1 Authentication Required" error

[2015-02-04 16:51] HERO4903 commented on #3
INFORMACIÓN DE VERSIÓN DE LA PLATAFORMA
    Windows             : 6.1.7601.65536 (Win32NT)
    Common Language Runtime     : 4.0.30319.18444
    System.Deployment.dll       : 4.0.30319.34244 built by: FX452RTMGDR
    clr.dll             : 4.0.30319.18444 built by: FX451RTMGDR
    dfdll.dll           : 4.0.30319.34244 built by: FX452RTMGDR
    dfshim.dll          : 4.0.31106.0 (Main.031106-0000)

O

[2015-02-04 18:35] sniperegy commented on #3
@HERO4903  print your error

[2015-02-04 20:28] oncomangus commented on #3
@rawon-tuyul manaaaa diaaaaa

[2015-02-04 21:08] HERO4903 commented on #3
- No se realizó la descarga de http://dezigner/icloudunlocking/iCloud.application correctamente.
      + No se puede resolver el nombre remoto: 'dezigner'

no resuelve el error

[2015-02-04 21:34] melsy001 commented on #1
@all
![asasas](https://cloud.githubusercontent.com/assets/10366329/6050167/ca6c46d2-acbd-11e4-8721-7de320404ec9.jpg) do's it have any solution for this ? of course not the way for clean imei

[2015-02-04 21:38] melsy001 commented on #3
@HERO4903  do you have scaned the application ? why i think that have an virus there

[2015-02-04 23:14] sniperegy commented on #3
Scan by virustotal clean

[2015-02-04 23:25] funkyman commented on #1
Hey all, its $130 to $170 to pay to get a clean or lost mode device unlocked, only a madman would release a free unlocker.

If you are unsure, follow these guys until you are satisfied they are not scammers.
Lost mode > https://twitter.com/minacrisOficial
Clean > https://twitter.com/iktaha

For clean devices, I've successfully ordered iD info from these guys.
Clean > http://www.imei-server.com/

A

[2015-02-04 23:49] yazdf commented on #1
exactly

2015-02-04 21:25 GMT-02:00 funkyman notifications@github.com:

[2015-02-04 23:59] HERO4903 commented on #3
ya se analizo no tiene virus

[2015-02-05 00:08] melsy001 commented on #3
@sniperegy  @HERO4903  i have tryed without scan but do not work !

[2015-02-05 00:20] melsy001 commented on #1
@funkyman tnx bro but it's not for my iphone i have 4 iphones i dont need anymore ! just trying to help people with locked devices ! for those that do not have that money to pay !

[2015-02-05 00:25] melsy001 commented on #1
ohh i forgot to post this this is for @rawon-tuyul who claims that he have a way ! 2 month ago you was begging to others because you wanted to use ur iphone like an ipod ! now maybe you have found a way but im just saying maybeeeeeeeeeeeeeeeeeeee  ur making like ur are important man
rawon-tuyul commented on Nov 11, 2014 @TTMTT help my idevice from icloud lock bro.. just 1 device.. i want use as ip

[2015-02-05 05:51] dhondooo commented on #1
http://www.icloudremover.org/
is it real?

[2015-02-05 06:02] dhondooo commented on #1
http://idevice.eu.pn/proxy-ip-icloudbypass/
anyone is there any other method like this????

[2015-02-05 13:38] dhondooo commented on #3
http://www.icloudremover.org/
is it real?

[2015-02-05 14:07] ictbalie commented on #3
Costs 20 dollars.
It says on the website payment after removal. So there's no risk to try , right?

Op 5 feb. 2015 om 14:38 heeft yasir1997 notifications@github.com het volgende geschreven:

[2015-02-05 14:27] sniperegy commented on #3
http://www.icloudremover.org/  fake

[2015-02-05 19:44] dhondooo commented on #3
isn't that cheap ???
if its 100% fake or not thanks

[2015-02-05 19:47] dhondooo commented on #3
http://idevice.eu.pn/proxy-ip-icloudbypass/
anyone is there any other method like this????

[2015-02-05 19:49] sniperegy commented on #3
this not bypass
open youtube facebook twitter

[2015-02-06 13:40] trapcode commented on #3
told someone to open new discuss but never show up? is this a new style of scam ?

[2015-02-06 14:05] sniperegy commented on #3
scam ???

[2015-02-06 15:44] trapcode commented on #3
@sniperegy not you buddy... the topic is R-SIM bypass and the one who comes up with the theory is never here... not a single tiny little clue, so what we're trying to achieve here anyway?

[2015-02-06 22:55] Nad4 commented on #3
hey any one try this http://bypass.myicloud.info/find-my-iphone-off/

[2015-02-07 13:55] dekepetz commented on #3
so many fake and scam

[2015-02-07 14:04] ictbalie commented on #3
How can they get the emailadress of the owner by imei?

[2015-02-08 06:24] dhondooo commented on #3
can we just edit the ipsw files for deleting appslike find my phone and so
as its easily done on android ROMs?
i know it doesnt make sense but i am android user too

[2015-02-08 22:23] Nad4 commented on #3
hey here is http://www.mediafire.com/download/9an6dsbt1fftb56/doulci+By+%40Hunter_Bypass+.zip
Original full data base doulci

[2015-02-08 22:54] Assasin0 commented on #3
@Nad4  it´s work?

[2015-02-09 00:57] syarwo commented on #3
disscus=take and give NOT take and go

[2015-02-09 03:26] kbulzo commented on #1
NEWS NEWS http://adf.ly/10Stox

[2015-02-09 03:43] enricortan commented on #1
just like TTMT,  just a fucking video.. no file :(

[2015-02-09 13:00] fodil123 commented on #1
@kbulzo: For Your Information, This Is My Own Video &  Solution Is Mine, Alreday Deleted It From Youtube, NextTime When You'll Post Somthing Don't Post It In Sense That You Are The Owner, BTW You Don't Have & Never You'l Have Those Files I Promise You...OK

[2015-02-09 13:07] yazdf commented on #1
@fodil123 and you ll give this for all, for free or just like others guys like ttmtt or icloudin, or others and others,

[2015-02-09 13:19] enricortan commented on #1
@fodil123 Blocked me in twitter.. cos i said "Fucking Pig" for selling his so called erase mode :(

[2015-02-09 17:27] fodil123 commented on #1
@kbulzo LOL, you copied my video & you try to make people think that you're the owner of this hahahahhaha you've & you'll never got the KEY :)

[2015-02-09 17:28] fodil123 commented on #1
@enricort yeah PIG like you must be blocked & that's really normal

[2015-02-09 18:07] HERO4903 commented on #1
fodil123 muchas felicidades por su trabajo mi pregunta es algun dia compartira usted su metodo para desbloquear perdon el idioma pero quiero ser lo mas claro posible para que pueda entenderme si su respuesta es no esta en todo su derecho y no por eso dejare de respetarlo

[2015-02-09 18:16] Azhturion commented on #1
@HERO4903 @fodil123 Just translating because the google translator is a crap.

"Congratulations for your work. I was wondering if you share your method for unlocking. Sorry for speak in spanish but I want to be clear. If your answer is "no" you're in your right and i won't be disrespectful for that"

@HERO4903 Escribe en inglés! Write in English.

[2015-02-09 18:24] HERO4903 commented on #1
Azhturion  My English is very bad
thanks for the translation

[2015-02-09 18:27] enricortan commented on #1
@fodil123  no man, i dont mean your a pig, its just my expression knowing your giving free hardware proccess and the software would not be :( sad

[2015-02-10 02:48] funkyman commented on #1
Anyone tried this?
https://rstforums.com/forum/96946-local-apple-icloud-exploit-code-injection-bypass-icloud-activate-iphone.rst

I'm stuck at the code-injection part, perhaps cheat engine is the wrong tool. ;)

[2015-02-10 02:49] funkyman commented on #1
Or this:
http://www.x-mojrem.com/Brut/

I tried and it just flooded my browser with failed passwords.
May work of you are lucky...

[2015-02-10 02:58] kbulzo commented on #1
LOL

[2015-02-10 03:27] funkyman commented on #1
Scratch the Brut tool, the passwords don't even meet the requirements so I couldn't even test it.

[2015-02-10 11:36] kbulzo commented on #1
@fodil123 never said this video and my only posted here to see this successful method and do not know who but it works

[2015-02-10 11:52] kbulzo commented on #1
@fodil123 http://adf.ly/10SsA2 this video and its ?? If and your congratulations !!!

[2015-02-10 14:48] funkyman commented on #1
The Brut tool seems to be working better now, has a 135MB wordlist and needs 24+ hours to run.

[2015-02-10 16:25] HERO4903 commented on #1
FUNKYMAN MAIL THE OWNER IS NEEDED TO WORK?

[2015-02-10 16:31] HERO4903 commented on #1
funkyman have any idea how to get mail on iphone restored?

[2015-02-10 18:19] fodil123 commented on #1
@kbulzo yes man this my videos & my own method too, i've published it on twitter 2 days ago & removed it after, & here is the iPhone Unlocked In video it's mine NOW :)
![ok](https://cloud.githubusercontent.com/assets/9030126/6133350/95e2aaf0-b159-11e4-8664-753cbad4bc55.png)

[2015-02-10 18:30] fodil123 commented on #1
@kbulzo yes man this my video & my own method too, i've published it on twitter 2 days ago & removed it after, & here is the iPhone Unlocked In video it's mine now , look at Network Operator Name you'll know the truth, that's only video , so imagine for files :)
![ok](https://cloud.githubusercontent.com/assets/9030126/6133592/39213212-b15b-11e4-8019-8d8b780f78d3.png)

[2015-02-10 18:31] fodil123 commented on #1
@kbulzo yes man this is my video & my own method too, i've published it on twitter 2 days ago & removed it after, & here is the iPhone Unlocked In video it's mine now, look at (Network Operator Name) you'll know the truth, that's only video , so imagine for files :)
![ok](https://cloud.githubusercontent.com/assets/9030126/6133617/603b6282-b15b-11e4-80fe-361e1b83bd7a.png)

[2015-02-10 18:37] sniperegy commented on #1
@fodil123  file's ??

[2015-02-10 18:39] fodil123 commented on #1
@kbulzo yes man this is my video & my own method too, i've published it on twitter 2 days ago & removed it after, & here is the iPhone Unlocked In video it's mine now, the job of scammers is
copy /past /sell /disappear... :)

[2015-02-10 18:49] kbulzo commented on #1
@fodil123 face congratulations've been following your work, congratulations, and for us not to know how to do, and are drooling with iDevices blocked waiting for these guys but nobody helps us'm in demand offset the years, you would be very good in ajudace lkbypass@gmail.com

[2015-02-10 23:09] w8llson commented on #1
@fodil123 bonjour fodil.. S'il te plait, si tu en as la possibilité aide nous. Moi j'ai un iphone 4S bloqué depuis au moins 5 mois. Mon adresse e-mail est w8llson@gmail.com. Merci

[2015-02-11 08:14] BenjiBth commented on #3
and then....

[2015-02-11 11:50] dhondooo commented on #1
@fodil123 please share with us your method please ...........?!?!?!?!

[2015-02-11 12:17] funkyman commented on #1
@HERO4903 http://www.imei-server.com/product-818-apple-icloud-id-restore-by-imei-find-service-recovery-account-id.html

[2015-02-11 12:19] funkyman commented on #1
@HERO4903 Brut tool is not working currently.

[2015-02-11 16:10] Nad4 commented on #3
try   http://myicloud.info/concept-trick-icloud/

[2015-02-12 20:31] HERO4903 commented on #1
all  Han pasado 8 meses desde que sigo esta discusion con la esperanza de encontrar una solucion para desbloquear un iphone 5s he visto de todo pero nunca puede hallar una solucion no me consta nada para mi todos son estafadores y scamers hasta que no demuestren lo contrario ayer por fin me di cuenta que el propietario de el iphone habia borrado el dispositivo de icloud lo que permitio que lo acti

[2015-02-12 20:32] HERO4903 commented on #3
all  Han pasado 8 meses desde que sigo esta discusion con la esperanza de encontrar una solucion para desbloquear un iphone 5s he visto de todo pero nunca puede hallar una solucion no me consta nada para mi todos son estafadores y scamers hasta que no demuestren lo contrario ayer por fin me di cuenta que el propietario de el iphone habia borrado el dispositivo de icloud lo que permitio que lo acti

[2015-02-12 21:39] sniperegy commented on #3
English heroo

[2015-02-13 08:11] dhondooo commented on #3
@HERO4903  translation:

"all past 8 months since I keep this topic in the hope of finding a solution to unlock an iphone 5s Han've seen everything but can never find me a solution has not nothing to me are all scammers and scamers until they prove otherwise yesterday I finally realized that the owner of the cases had deleted the device iCloud which allowed him activate my personal account I hope

[2015-02-13 15:45] sniperegy commented on #3
@HERO4903  good luck

[2015-02-14 11:33] gsminfor commented on #1
Anyone seen this? https://www.youtube.com/watch?v=vu0eqd4t0HM

[2015-02-14 13:25] dhondooo commented on #1
http://247unlocker.com
will it work??

[2015-02-14 18:03] HERO4903 commented on #1
http://pastebin.com/NWdrt4gJ

[2015-02-15 19:00] kigan1 commented on #1
https://www.youtube.com/watch?v=qyMIbhkpa5c

[2015-02-16 11:42] R0of commented on #1
https://www.youtube.com/watch?v=oBTDew8Ddzo

[2015-02-16 11:44] R0of commented on #3
https://www.youtube.com/watch?v=oBTDew8Ddzo

[2015-02-16 15:35] ghost commented on #3
@R0of boring?

[2015-02-16 15:38] Nad4 commented on #3
![b99zv-qicaavmhn](https://cloud.githubusercontent.com/assets/9027738/6214647/dee6d6b2-b5f1-11e4-95f8-5011a25ae5dc.jpg)

[2015-02-16 17:18] R0of commented on #3
@andythepooh very much)

[2015-02-18 03:36] BenjiBth commented on #3
well until now, nothing work...

[2015-02-18 03:36] SoolMed commented on #3
http://idevicetool.eu/purplerestore-apple/

need new fairplaycertchain/fairplaykeydata for iphone 5 / ipad 2gsm / ipad mini

[2015-02-18 03:36] SoolMed commented on #1
http://idevicetool.eu/purplerestore-apple/

need new fairplaycertchain/fairplaykeydata for iphone 5 / ipad 2gsm / ipad mini

[2015-02-18 12:05] megarock commented on #3
https://www.youtube.com/watch?v=nSMndnPf_m8

Fiddler iCloud Bypass

[2015-02-18 12:05] megarock commented on #1
https://www.youtube.com/watch?v=nSMndnPf_m8

Fiddler iCloud Bypass

[2015-02-18 14:07] Nad4 commented on #3
hey this guy have something https://twitter.com/M44K4/status/568044103075819520

[2015-02-18 14:08] Nad4 commented on #3
@SoolMed wowow sniff phone great

[2015-02-20 06:30] omitav commented on #3
leaked doulci code at https://github.com/JesPratt/Doulci - apparently some ppl have had success using this in xampp. can someone try and see if this works (i will only reach my home pc after about 8 hrs)

[2015-02-20 06:33] BenjiBth commented on #3
@omitav  where you have this info ?

[2015-02-20 08:14] HoudHoud commented on #3
@omitav no doesn't work (old files)

[2015-02-20 08:49] omitav commented on #3
@BenjiBth it was tweeted by Marroc
![marroc](https://cloud.githubusercontent.com/assets/9133358/6283506/87897b1e-b90b-11e4-8348-fa57bd1dfe39.jpg)

[2015-02-20 08:57] omitav commented on #3
@HoudHoud oh! is it the certificates? I've heard that the certificates expire after a short while :-(

[2015-02-22 05:22] R0of commented on #3
https://www.youtube.com/watch?v=oBTDew8Ddzo

[2015-02-24 05:41] 3ruceW commented on #1
@all Hi, nobody is posting something new to this place, did you move elsewhere or just gave up any futher hope of unlocking?

[2015-02-24 06:30] BenjiBth commented on #1
silencio.....

[2015-02-24 07:37] hhhhugi commented on #1
In Beijing, Chinesse guys unlock 180$ per device.

[2015-02-24 07:39] hhhhugi commented on #1
No free methods available right now

[2015-02-24 11:36] funkyman commented on #1
@3ruceW iCloudin was just a scam. Doulci had something that apple patched, as far as I can see iCloudin was a fake, some even said it was malware that grabbed your passwords from firefox or chrome. Twitter seems to be where any progress is happening.

[2015-02-24 15:14] 3ruceW commented on #1
@funkyman Thanks a lot for answering, I've been reading this post for months and really hoped that someting good was about to happen.
I assisted to iCloudin drama, the great shame is that nobody else keeps talking about icloud bypass here and other skilled guys lost their interest to share new ideas.
I had some hint to get an iphone4 7.1.2 unlocked and  I succeded. I still need help for an ipad ai

[2015-02-24 15:24] ictbalie commented on #1
So can we assume that ttmtt was a scammer? In that case i don't get it. For couple of dollars faking for so long? That's sick.

[2015-02-24 21:18] juanluis3030 commented on #1
@3ruceW carrier did it get?

[2015-02-24 22:14] funkyman commented on #1
@3ruceW Why keep talking about it here? its like a scene of a robbery, better off going somewhere that isn't a disapointing lie. @ictbalie well they hardly said anything anyway. they didn't have to do a thing to get advertising revenue or accept donations via paypal

[2015-02-24 23:05] 3ruceW commented on #1
@juanluis3030 I haven't tryed carrier yet, will be able to test it next week

[2015-02-25 02:46] funkyman commented on #1
This might help some, I did it just now.

Remove iCloud from activated phone. Has iCloud.com email, go to iforgot.apple.com, reset password via email. On phone go to email and click the reset link, enter new password. Go to iCloud settings sign in with new password, turn off Find My Iphone and sign out.

https://twitter.com/_funkyman_/status/570413697283203075

[2015-02-25 05:37] Ryahuman commented on #1
@fodil123 you can help me to unlock a carrier on ip4 already hacktivated or restored? please...

[2015-02-25 18:18] juanluis3030 commented on #1
@funkyman can you explain a bit better I have an iPhone 5 with an associated id is not mine

[2015-03-03 05:44] R0of commented on #1
https://www.youtube.com/watch?v=oBTDew8Ddzo

[2015-03-03 08:23] 3ruceW commented on #1
@R0of Bro, the video you posted is about hardware of iDevs, is anything new about iCloud unlock?

[2015-03-05 15:50] R0of commented on #1
No bro ) but see this https://www.youtube.com/watch?v=oBTDew8Ddzo

[2015-03-06 17:03] R0of commented on #1
Real and One way to bypass : http://gsm-markaz.uz/viewtopic.php?f=65&t=400&p=731#p731

[2015-03-06 17:04] R0of commented on #3
Real and One way to bypass : http://gsm-markaz.uz/viewtopic.php?f=65&t=400&p=731#p731

[2015-03-11 17:00] Nad4 commented on #3
new forum and new method rooling with fiddler
http://myicloud.ml/index.php?/topic/2-icloud-bypass-tutorials/?p=172

[2015-03-14 09:16] R0of commented on #3
Real and One way to bypass : http://gsm-markaz.uz/viewtopic.php?f=65&t=400&p=731#p731

[2015-03-19 14:01] SoolMed commented on #3
Hello @all wanna ask a question do any one know a way to get wildcard csr ticket !!!!

[2015-03-19 14:54] Faroukd0t commented on #3
you still trying :)

[2015-03-19 15:23] kbulzo commented on #3
!![](http://i.imgur.com/1fSaLCW.jpg)![](http://i.imgur.com/6vy17ho.jpg)

[2015-03-19 15:26] Faroukd0t commented on #3
???

[2015-03-19 23:44] SoolMed commented on #3
@Faroukd0t Salam khay ca va 3lik wayh mazal me3a had stoun mochkil 3anedi fe hadik wildcardticket bach tegeniriha men activation req o tania bach tegenere fairplaykeydata hetahia men activation req plus priv dial apple

[2015-03-20 02:50] BenjiBth commented on #3
@kbulzo ??

[2015-03-20 09:11] R0of commented on #3
@kbulzo Real and One way to bypass : http://gsm-markaz.uz/viewtopic.php?f=65&t=400&p=731#p731

[2015-03-24 02:23] SoolMed commented on #3
I need activation log save request and respond for each type of idevice : ipad, iphone, ipod please mail naimmhb at gmail dot com

[2015-03-24 02:29] sniperegy commented on #3
I have ipad and iphone request
send to after hours

[2015-03-24 02:30] kbulzo commented on #3
it seems that they take with xampp could with a five s

[2015-03-24 23:05] SoolMed commented on #3
@sniperegy here is my mail important thing around iCloud unlock
twitter @Ni8tWolF
naimmhb at gmail dot com

[2015-03-27 22:37] Nad4 commented on #3
http://www.mediafire.com/download/520z809744hal40/GadgetShows+File+Compiled+by+iH7sn0w.zip

[2015-03-27 23:42] sniperegy commented on #3
@nad4 not work i test ipad2 ip4s ip4g ipad mini

[2015-03-28 05:18] Bilalqadeer commented on #3
Is There Any one Who Know the difference between
Shop Gsx and Business Gsx

[2015-03-28 05:39] Bilalqadeer commented on #3
Any way to bypass icloud activation for only clean device with carrier signal

[2015-03-28 05:40] Bilalqadeer commented on #3
is there any one who can remove icloud from clean device
need imei base unlock

[2015-03-28 05:51] Bilalqadeer commented on #3
Contact me
bilal.qdeer   Skype
bilalqadeer83@gmail.com
https://www.facebook.com/bilal.qadeer.52

[2015-03-28 09:37] ictbalie commented on #3
Yes I can. Costs 160 dollar for clean device.

[2015-03-28 10:08] Bilalqadeer commented on #3
Contact me

[2015-03-28 11:57] omitav commented on #3
1/2iPod touch-90$ iPad 2/3/4-100$ iPad mini-90$ iPad mini 2/3-120$ iPad Air
/2-135$ iPhone 4/4s/5-100$ iPhone 5c/5s-125$ iPhone 6/6plus-140$

Contact @worcoo on twitter
On Mar 28, 2015 3:38 PM, "Bilalqadeer" notifications@github.com wrote:

[2015-03-28 15:18] Bilalqadeer commented on #3
i have no twetter

[2015-03-28 16:06] omitav commented on #3
Try Iktaha on whatsapp at +32 489 10 99 37 or haciphone at
hack.iphone@aol.com.
On Mar 28, 2015 8:48 PM, "Bilalqadeer" notifications@github.com wrote:

[2015-03-28 16:11] Bilalqadeer commented on #3
Give your facebook
Skype
or
Email to talk

[2015-03-28 16:13] omitav commented on #3
My name at gmail.com :-)

[2015-03-28 16:18] Bilalqadeer commented on #3
bilalqadeer83@gmail.com
plz mail me
i failed

[2015-03-28 17:36] Ryahuman commented on #3
i'm success on bypass a itunes only, with apple server (:

[2015-03-28 17:50] Bilalqadeer commented on #3
Useless bypass

[2015-03-28 18:00] omitav commented on #3
Bypass is coming, but may take some time. Gadgetshows is having good
progress with fiddler method , and cryposy has already successfully made a
server using xampp, java file and open SSL. But he is releasing the info
bit by bit only every week. Youyube just took down his tuts but he is
working on getting them online somewhere else.
On Mar 28, 2015 11:20 PM, "Bilalqadeer" notifications@github.com w

[2015-03-28 18:04] Bilalqadeer commented on #3
all are just showing no one is releasing
even for money

[2015-03-28 18:44] sniperegy commented on #3
4 @ll Take about money
here work 2 unlock 4 free yet

[2015-03-28 18:50] Bilalqadeer commented on #3
2 unlock for free

[2015-03-28 19:08] Ryahuman commented on #3
\õ\ i'm here to test it!

[2015-03-28 23:18] Nad4 commented on #3
sorry to believers but gadgetship is 100%fake is like the russian maniak crypto ask money, and releasing fake software he download from github since September make stupid videos (if all want i can teach how to make a fake video to bypass icloud ). but what we can do ? people are supporting wrong people

[2015-03-29 03:15] Bilalqadeer commented on #3
All are fake
By making fake videos just want attention, Donation, money

[2015-03-31 17:08] badrsony commented on #3
https://github.com/badrsony/icloudin-support-/issues/9

[2015-04-06 17:12] danocas commented on #1
news coming TTMTT shit were are u of course  forgot that he doesnt pay eletricity bill

[2015-04-07 16:45] danocas commented on #1
some reading
https://github.com/argon/node-apn/wiki/Preparing-Certificates
http://uniqush.org/documentation/usage.html
https://blog.serverdensity.com/how-to-renew-your-apple-push-notification-push-ssl-certificate/

[2015-04-07 16:46] danocas commented on #1
then fidler2 xamp and a file that will be released here java ......

[2015-04-07 16:54] danocas commented on #1
https://mega.co.nz/#!ZBxCHaaa!LzX03LEaodDD8z3J8jLYVkRz5TLCZrycsUmiEHMeHVs

https://mega.co.nz/#!0BxRjS4T!FGBOMzD44aIvH_JwwL2dNW8RzhksyS4VU8-BscZgAnc

[2015-04-07 17:34] enricortan commented on #1
is this method of java is from crypto?

On Wed, Apr 8, 2015 at 12:55 AM, danocas notifications@github.com wrote:

##

[image: Enrico Tan on about.me]

Enrico Tan
about.me/enricotan
  http://about.me/enricotan

[2015-04-08 19:23] Nad4 commented on #3
Fiddler and Xampp icloud bypass Method http://myicloud.info/fiddler-and-xampp-icloud-method/

[2015-04-11 23:48] Nad4 commented on #1
the end of Fiddler and Xampp icloud bypass Method http://myicloud.info/fiddler-and-xampp-icloud-method/

[2015-06-17 06:48] Sum1n commented on #3
100% real bypass https://www.youtube.com/watch?v=IU8h4noicN4

[2015-06-17 06:52] Sum1n commented on #1
https://www.youtube.com/watch?v=IU8h4noicN4

[2015-06-17 08:51] doejhon commented on #1
@sum1n tutorial please ihave iphone 5 ios 8.3

[2015-08-11 19:12] kbulzo commented on #1
hey guys

[2015-08-11 19:12] kbulzo commented on #3
hey guys

[2015-08-11 19:19] kbulzo commented on #3
someone still needs solution

[2015-08-11 19:19] kbulzo commented on #1
someone still needs solution

[2015-08-11 19:19] kbulzo commented on #3
?????

[2015-08-11 19:20] kbulzo commented on #1
??????????

[2015-08-11 19:48] mapjii commented on #1
yes we do

On Tue, Aug 11, 2015 at 12:20 PM, kbulzo notifications@github.com wrote:

[2015-08-11 20:24] kbulzo commented on #1
New

[2015-08-11 20:57] fortad commented on #1
here pls

[2015-08-11 21:58] sniperegy commented on #1
@kbulzo ???

[2015-08-12 13:46] Yafi3i commented on #1
Sniper اي الايميل حقك

[2015-08-13 17:39] sniperegy commented on #1
Sniper.basha@gmail.com

[2015-08-14 05:28] R0of commented on #1
haaha ah aa ha ha aha ha ha ha ha ahaha Best scammers! Money, money, money )))

[2015-08-17 16:30] TTMTT opened #4 "Discuss3"
## very Soon iCL0udin v2

[2015-08-17 19:50] Yafi3i commented on #4
Hey Magd,

I would like to be the first person to welcome you back to the iCloud scene and wish you success this time, it has been a long absence from you but hopefully we will not be let down this time.

Please talk to us what you are planning for v2 and the exploits and the changelog from v1...

[2016-03-05 14:11] vineal opened #5 "How do we perform Naive Bayes Classification for this code ?"
This  code takes in 3 symptoms as input. Next it should classify the symptoms and show the output as the type of doctor that the patient should visit. How do I do that using Naive Bayes Classifier?Please Help :(

`
<?php

[code]

?>
<!DOCTYPE html>
<html>
<head>

<title>medi doc</title>

<style>
body{
height: 900px;
    background: -webkit-linear-gradient(white, Lightsteelblue); }
header{
    back

[2017-01-08 01:13] alex201634 opened #6 "i cant rewmove icloud and i just bought my ipad"

[2017-03-31 15:41] willgabriel commented on #1
Magazine Você

    Olá,
    O seu email reply@reply.github.com foi adicionado  pelo divulgador da clubeseguro  para receber ofertas dos divulgadores do Magazine Você.
    O Magazine Você é um canal de vendas do Magazine Luiza e conta com toda a segurança e qualidade oferecida pela empresa.
    Gostaríamos de saber se você deseja receber ofertas dos divulgadores do Magazine Você através do email in

[2021-07-13 03:16] Ray-all opened #7 "Forgot my passcode on my ipad and it say disable connect to itunes"
Help me unlock my apple iPad

[2022-07-22 13:59] hackerthylord1 opened #8 "Decode IonCube"
Sir, can you please decode ion cube files for me. Please.
[install.zip](https://github.com/TTMTT/iCL0udin/files/9168258/install.zip)